﻿@{
    ViewData["Title"] = "SignFormImage";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}



<div class="demo-section k-content">
    <div>
        <h1 style="text-align:center;">已銷未掃與未銷已掃</h1>
    </div>
    <div>
        <h4>
            <div id="deliveryDatePeriod" style="font-size:12px">配達日期區間:</div>
        </h4>
    </div>
    <div>
        <h4>
            到著站:
            <input id="stations" style="font-size:12px" />
        </h4>
    </div>
    <div>
        <h4>
            客戶代號:
            <input id="customerCode" style="font-size:12px" />
        </h4>
    </div>
    <div>
        <h4>
            有無簽單:
            <input type="radio" name="isExists" id="exists" style="font-size:12px" class="k-radio" />
            <label class="k-radio-label" for="A">有</label>
            <input type="radio" name="isExists" id="notExists" style="font-size:12px" class="k-radio" />
            <label class="k-radio-label" for="B">無</label>
            <input type="radio" name="isExists" id="all" style="font-size:12px" class="k-radio" />
            <label class="k-radio-label" for="B">全部</label>
        </h4>
    </div>


    <button id="search">查詢</button><label id="msg" style="font-size:20px; color:red"></label>
</div>
<div id="grid" />
<script>
    $(document).ready(function () {
        $("#deliveryDatePeriod").kendoDateRangePicker();
    })

    GetCustomerCodes();

    $("#stations").kendoDropDownList({
        filter: "startswith",
        dataTextField: "ShowName",
        dataValueField: "StationCode",
        value: "",
        dataSource: {
            type: "odata",
            serverFiltering: true,
            transport: {
                read: {
                    url: "/KendoSelect/GetStation?isNeedAllStation=false"
                }
            }
        },
        change: function (e) {
            var value = this.value();
            GetCustomerCodes($('#stations').data("kendoDropDownList").value());
        }
    });

    function GetCustomerCodes() {
        $("#customerCode").width(300).kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetCustomer",
                    }
                }
            },
        }).data("kendoDropDownList");
    }

    var progressDataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/SignPaperPhotoPackage/GetProgressData",
                dataType: "jsonp",
                cache: "false"
            },
            parameterMap: function (data) {
                return "loginAccountCode=@ViewBag.LoginAccountCode";
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        DataName: { type: "string" },
                        FileTotalRecords: { type: "string" }
                    }
                }
            }
        }
    })

    $("#search").kendoButton({
        click: function (e) {
            if ($("#customerCode").data("kendoDropDownList").value() == "" && $("#stations").data("kendoDropDownList").value() == "")
            {
                alert("必須選擇客代或站所");
            }
            else if (($("#deliveryDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" && $("#deliveryDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year"))
            {
                alert("請輸入完整日期");
            }
            else if (!$("#exists").is(":checked") && !$("#notExists").is(":checked") && !$("#all").is(":checked"))
            {
                alert("請選擇有無簽單");
            }
            else if (DateMinus($("#deliveryDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText) < 2)
            {
                alert("結束日期必須在從今日算起前兩天以上");
            }
            else if (DateMinus($("#deliveryDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText) - DateMinus($("#deliveryDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText) > 7)
            {
                alert("配達起訖區間至多七天");
            }
            else
            {
                GetGrid();
                $('html,body').animate({ scrollTop: document.body.scrollHeight }, "fast");
            }
        }
    })

    function GetGrid() {
        (function () {
            if ($("#grid").data('kendoGrid') == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource().read();
                $("#grid").data("kendoGrid").refresh();
            }
        })

        var signFormImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/SignFormImage/GetSheet",
                    dataType: "jsonp",
                    cache: "false",
                    data: function () {
                        return {
                            customerCode: $("#customerCode").data("kendoDropDownList").value(),
                            deliveryDateTimeStart: $("#deliveryDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" ? null : $("#deliveryDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText,
                            deliveryDateTimeEnd: $("#deliveryDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" ? null : $("#deliveryDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText,
                            areaArriveStation: $('#stations').val().toString().replace('F', ''),
                            signPaperExistType: $("#exists").is(":checked") == true ? 1 : $("#notExists").is(":checked") == true ? 0 : $("#all").is(":checked") == true ? 2 : -1
                        };
                    }
                },
                parameterMap: function (data) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        CheckNumber: { type: "string" },
                        ArriveOption: { type: "string" },
                        SignPaperString: { type: "string" },
                        DeliverDriver: { type: "string" },
                        ArriveDate: { type: "DateTime" },
                        AreaArriveStation: {type:"ArriveStation"}
                    }
                }
            }
        })

        $("#grid").kendoGrid({
            dataSource: signFormImageDataSource,
            pageable: true,
            height: 550,
            columns: [
                { field: "CheckNumber", title: "貨號" },
                { field: "ArriveOption", title: "配達區分" },
                { field: "SignPaperString", template: '#if(IsSignPaperExist){#<a href=#=SignPaperPath# target=_blank>#= SignPaperString#</a>#}else{#<button onclick="GetEmpty(#=RequestId#, #=IsReturn#)">#= SignPaperString#</button>#}#', title: "簽單" },
                { field: "DeliverDriver", title: "配達司機" },
                { field: "ArriveDate", title: "配達時間" },
                { field: "AreaArriveStation", title: "到著站" }
            ]
        })
    }

    function GetEmpty(id, isReturn)
    {
        if (!isReturn) {
            document.location.href = "../DeliveryRequest/PrintDeliverySignReceiptTagByCheckNumbers?ids=" + id;
        } else {
            document.location.href = "../DeliveryRequest/PrintReturnTagByIds?ids=" + id;
        }
    }

    function DateMinus(sDate) {
        var sdate = new Date(sDate.replace(/-/g, "/"));
        var now = new Date();
        var days = now.getTime() - sdate.getTime();
        var day = parseInt(days / (1000 * 60 * 60 * 24));
        return day;
    }

</script>
<style>
    .demo-section:not(.wide) {
        max-width: 500px;
    }
</style>
