﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content" style="max-width: 500px;">
    <h2>司機該月已集貨與已配達明細</h2>
    <br />

    月份：<input id="monthpicker" value="" />
    <br /><br />

    @if (ViewBag.CanSelect)
    {
        <span>區屬：</span><input id="areas" style="display: inline-block;" />
        <br /><br />

        <span>站所：</span><input id="station" style="display: inline-block;" />
    }
    else
    {
        <span>站所：</span><input id="station" style="display: inline-block;" value="@ViewBag.Station" disabled="disabled" />
    }

    <br />
    <br />
    @*<button id="search">查詢明細</button>*@
    <button id="query">查詢總表</button>
    @*<button class="k-button" onclick="getExcel('#deliverymatinggrid')">匯出明細Excel</button>*@
    <button class="k-button" onclick="getExcel('#firstGrid')">匯出總表Excel</button>
</div>

<div id="firstGrid"></div>
<br />


<script src="../../js/cultures/kendo.culture.zh-TW.min.js"></script>
<script>
    var month;
    var dtMonth;

    $("#monthpicker").kendoDatePicker({
    start: "year",
        depth: "year",
        format: "yyyy M",
        dateInput: true,
        change: onChange,
        culture: "zh-TW"
    });

    function onChange() {
        var value = this.value();
        month = kendo.toString(value, "s"); //把日期的值從英文轉成datetime
        dtMonth = new Date(month);
    }

    var areaName = "";
    var scode = "";
    var status = "*";

    var areas = $("#areas").kendoDropDownList({
        dataSource: {
            type: "odata",
            transport: {
                read: {
                    url: "/KendoSelect/GetAreaFromTbStation?addTotal=" + true
                    // addTotal=true 代表加上"全選"選項
                }
            }
        },
        value: "全選", // 預設選項
        change: function (e) {    // 連動站所下拉
            var value = this.value();
            areaName = value;
            GenStationData();
        }
    }).data("kendoDropDownList");

    GenStationData();

    function GenStationData() {
        $("#station").kendoDropDownList({
            filter: "startswith",    // 這一行加上搜尋框
            dataTextField: "ShowName",    // 顯示的文字
            dataValueField: "StationSCode",    // 值
            value: "@ViewBag.Station",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStationFromTbStation?areaName=" + areaName + "&isNeedAllStation=false"
                    }
                }
            },
            change: function (e) {
                var value = this.value();
                scode = value;
            }
        });
    }

    function getTotal() {
        if ($("#areas").data("kendoDropDownList"))
            areaName = $("#areas").data("kendoDropDownList").value();
        status = $("input[name='status']:checked").val();
        scode = $("#station").data("kendoDropDownList").value();
        dataSourceFirst = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PickUpAndDeliveryMating/GetDriverAllCountByMonthStationScode?area=" + areaName + "&scode=" + scode + "&month=" + month,
                    dataType: "jsonp"
                }
            },
            batch: true,
            pageSize: 50,
            schema: {
                model: {
                    fields: {
                        StationScode: {type: "string"},
                        StationName: { editable: false, nullable: true },
                        ScanDate: { validation: { required: true }, nullable: true },
                        DriverCode: { validation: { required: true }, nullable: true },
                        DriverName: { validation: { required: true }, nullable: true },
                        CountPickUp: { validation: { required: true }, nullable: true },
                        CountDeliveryMating: { validation: { required: true }, nullable: true }
                    }
                }
            }
        });
    }

    $("#query").kendoButton({
        click: function (e) {

            getTotal();

            if ($("#firstGrid").data("kendoGrid") == null) {
            } else {
                $("#firstGrid").data("kendoGrid").dataSource.read();
                $("#firstGrid").data("kendoGrid").refresh();
            }

            if ($("#areas").data("kendoDropDownList"))
                areaName = $("#areas").data("kendoDropDownList").value();
            var m = dtMonth.getMonth() + 1;
            var station = $("#station").data("kendoDropDownList").text();
            var stationVal = $("#station").data("kendoDropDownList").value();

            var fileName = "";

            if (stationVal == "0") {
                fileName = "" + m + "月_" + areaName + "_司機該月已集貨配達總表.xlsx";
            } else {
                fileName = "" + m + "月_" + station + "_司機該月已集貨配達總表.xlsx";
            }

            $("#firstGrid").kendoGrid({
                dataSource: dataSourceFirst,
                sortable: true,
                toolbar: ["總表"],
                excel: {
                    fileName: fileName,
                    allPages: true,
                    filterable: true
                },
                filterable: true,
                pageable: true,
                height: 550,
                columns: [
                    { field: "StationScode", hidden:true },
                    { field: "StationName", title: "站所", template: "<div onclick='stationClick(this)'><a>#: StationName #</a></div>" },
                    { field: "ScanDate", title: "日期" },
                    { field: "DriverCode", title: "工號", template: "<div onclick='driverClick(this)'><a>#: DriverCode #</a></div>" },
                    { field: "DriverName", title: "名字" },
                    { field: "CountPickUp", title: "已集貨" },
                    { field: "CountDeliveryMating", title: "已配達" },
                ],
            });
        }
    });

    // 點司機進入明細
    function driverClick(event) {
        var dirverCode = $(event).text();
        window.open("/PickUpAndDeliveryMating/StationListDetail?driverCode=" + dirverCode + "&month=" + month);
    };

    // 點站所進入明細
    function stationClick(event) {
        var grid = $("#firstGrid").data("kendoGrid");
        var rowDataItem = grid.dataItem($(event).closest("tr"));
        var stationScode = rowDataItem.StationScode;

        window.open("/PickUpAndDeliveryMating/StationListDetail?stationScode=" + stationScode + "&month=" + month);
    };

    function getExcel(gridId) {
        try {
            var grid = $(gridId).data("kendoGrid");

            grid.setOptions({
                excel: {
                    allPages: true
                }
            });
            grid.saveAsExcel();
        } catch (e) {
            alert('請先點選查詢，待資料讀取完畢再匯出excel');
        }
    }

</script>
