﻿
@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}


<style>
    h4 {
        padding: 20px 0 0 0;
    }

    input {
        width: 100%;
    }
</style>

@Html.ActionLink("回到主畫面", "Index", null, null, new { @class = "btn btn-primary" })
<div id="example">

    <div class="demo-section k-content">

        <h2>@ViewBag.Action</h2>
        <h2>@ViewBag.PickUpTypeDesc</h2>

        <h4>@Html.Raw(ViewBag.LoginName)</h4>
        <h4>託運單號</h4>
        <input id="barcode" />

        <ul>
            <li><span>託運單號:</span><label class="alert-success" id="checkNumber"></label></li>
            <li><span>收件人姓名:</span><label class="alert-success" id="receiverName"></label></li>
            <li><span>託運狀態:</span><label class="alert-success" id="statusName"></label></li>
            <li><span>上回掃讀時間:</span><label class="alert-success" id="lastScanDate"></label></li>
            <li>
                <button id="saveCollectionMoney" class="k-primary">儲存結果</button>
                @if (ViewBag.ScanItem == 5)
                {
                    @Html.ActionLink("回上一步", "SelectPickUpType", null, null, new { @class = "btn btn-primary" })
                }
            </li>
        </ul>
        <div>已掃貨號：</div>
        <div id="showScaned"></div>
        <span>已掃數量：</span><div id="showCount"></div>
    </div>
</div>

<script>

    var scanedAmount = 0;
    var indexedDB = window.indexedDB || window.webkitIndexedDB || window.mozIndexedDB || window.msIndexedDB;
    var dbPromise = indexedDB.open("scanedDB", 1);

    $(document).ready(function () {

        dbPromise.onsuccess = function (evt) {
            db = dbPromise.result;
            console.log("success");
        };

        dbPromise.onerror = function (evt) {
            console.log("error: " + evt.target.errorCode);
        };

        dbPromise.onupgradeneeded = function (evt) {
            db = event.target.result;
            var objectStore;
            if (!db.objectStoreNames.contains('barcode')) {
                objectStore = db.createObjectStore('barcode', { autoIncrement: true });
            }
        };

        $("#barcode").keypress(function (e) {
            if (e.keyCode === 13) {
                var barcodeData = $("#barcode").val();

                //開始call ajax
                $.ajax({
                    url: "/barcode/GetBarcodeData?barcode=" + barcodeData, success: function (result) {

                        if (result.success > 0) {
                            $("#checkNumber").text(result.checkNumber);
                            $("#receiverName").text(result.receiverName);
                            $("#statusName").text(result.status);
                            $("#lastScanDate").text(result.lastScanDate);
                        }
                        else {
                            alert("查無託運資料，請確認託運單號是正確的");
                        }
                    }
                });

                if (@ViewBag.ScanItem != 3) {
                    var request = db.transaction(['barcode'], 'readwrite')
                        .objectStore('barcode')
                        .add($('#barcode').val());

                    request.onsuccess = function (event) {
                        showAll();
                    };

                    request.onerror = function (event) {
                        console.log('write error');
                    }
                }

                $("#barcode").val("");
                e.preventDefault();
            }
        });
    });

    function showAll() {
        var request = db.transaction(['barcode']).objectStore('barcode').getAll();
        request.onsuccess = function () {
            var stringDisplay = "";
            for (var e in request.result) {
                stringDisplay += (request.result[e] + "<br/>");
            }
            $('#showScaned').html(stringDisplay);
            $('#showCount').text(Object.keys(request.result).length);
        };
    }

    function readAll() {
        return new Promise(function (resolve) {
            var request = db.transaction(['barcode']).objectStore('barcode').getAll();
            request.onsuccess = function () {
                resolve(request.result);
            }
        });
    }

    function clear() {
        db.transaction(['barcode'], 'readwrite')
            .objectStore('barcode')
            .clear();
    }

    function onClick(e) {
        readAll().then(function (all) {
            console.log(all);
            $.ajax({
                url: "PickUpCallWebService",
                data: {
                    driverCode: "@ViewBag.DriverCode",
                    scanItem: "@ViewBag.ScanItem",
                    pickUpType: "@ViewBag.PickUpType",
                    barcode: JSON.stringify(all)
                },
                success: function (result) {
                    //var jObject = JSON.parse(result);

                    //if (jObject.resultcode == true) {
                    //    alert("儲存成功");
                    //}
                    //else {
                    //    alert(jObject.);
                    //}
                    alert("儲存完成");
                }
            });
        })

        clear();
    }

    $("#saveCollectionMoney").kendoButton({
        click: onClick
    });
</script>