﻿
@{
    ViewData["Title"] = "EnterCarNumber";
}

<h1>輸入車牌號碼</h1>

<form method="post" asp-controller="Barcode" asp-action="SaveCarNumber">
    <div class="form-group">
        <label for="carNumber">車牌號碼</label>
        <input type="text" name="carNumber" />
    </div>
    <button type="submit">送出</button>
</form>