﻿
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@Html.ActionLink("登出", "Logout", null, null, new { @class = "btn btn-primary", style = "position: absolute; left: 80%" })
<br/>

<div style="margin-top: 100px">
    <a asp-action="Scan" asp-route-scanItem="PickUp"><img src="~/images/menu_06.png" style="max-width:45%;" /></a>
    <a asp-action="Scan" asp-route-scanItem="DropOff"><img src="~/images/menu_07.png" style="max-width:45%;" /></a>
    <a asp-action="Scan" asp-route-scanItem="Origin"><img src="~/images/menu_08.png" style="max-width:45%;" /></a>
    <a asp-action="Scan" asp-route-scanItem="Distination"><img src="~/images/menu_02.png" style="max-width:45%;" /></a>
    <a asp-action="Scan" asp-route-scanItem="Delivery"><img src="~/images/menu_03.png" style="max-width:45%;" /></a>
    <a asp-action="Scan" asp-route-scanItem="DeliveryMating"><img src="~/images/menu_01.png" style="max-width:45%;" /></a>
</div>

