﻿
@{
    ViewData["Title"] = "SelectPickUpType";
}

<style>
    select, option, button{
        font-size: large;
    }
</style>

<form method="post" asp-action="BatchScan" asp-items="">
    <h2>請選擇貨件種類</h2><br />
    <select name="pickUpType">
        @for(int i=0; i<ViewBag.Values.Count; i++)
        {
            <option value="@ViewBag.Values[i]">@ViewBag.Descriptions[i]</option>
        }
    </select><br/><br/>
    <input type="hidden" value="PickUp" name="scanItem" />
    <button type="submit">送出</button>
</form>


