﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h3>棧板AC段應付明細</h3>
        <h4>發送日期</h4>
        <div id="dateRangePicker"></div>
        <h4>區配商</h4>
        <input id="suppliers" style="width:100%"/>
        <h4>貨號</h4>
        <input id="checknumber" onchange="javascript:checknumberChange()"/>
        <h4>任務編號</h4>
        <input id="taskId" onchange="javascript:taskIdChange()" />
        <button id="search">查詢</button>
        <button id="export" class="k-button" style="margin-top: 2em;" onclick="exportexcel()">匯出Excel</button>
    </div>
<div id="grid"></div>
<script>
    var start = kendo.toString(new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()-1),"s");
    var end = kendo.toString(new Date(), "s");
    
    $(document).ready(function () {
        $("#dateRangePicker").kendoDateRangePicker({
            culture: "zh-TW",
            range: {
                start: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()-1),
                end: new Date()
            },
            change: function (e) {
                var range = this.range();
                start = kendo.toString(range.start, "s");
                end = kendo.toString(range.end, "s");
            }
        });

        $("#suppliers").kendoDropDownList({
            filter: "contains",
            dataTextField: "supplierName",
            dataValueField: "supplierCode",
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "/PalletACSectionShouldPay/GetSuppliers"
                    }
                }
            },
            cascade: function (e) {
                var value = this.value();
                supplierCode = value;
            },
            change: function (e) {
                $("#checknumber").val("");
                $("#taskId").val("");
            }
        });
    });

    function taskIdChange() {
        $("#checknumber").val("");
        supplierCode = "";
    }

    function checknumberChange() {
        $("#taskId").val("");
        supplierCode = "";
    }

    function getGrid() {

        var checkNumber = $("#checknumber").val();
        var taskId = $("#taskId").val();

        var getUrl = "GetACSectionShouldPayDetails?start=" + start + "&end=" + end + "&supplierCode=" + supplierCode + "&checkNumber=" + checkNumber + "&taskId=" + taskId;

         dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp",
                },
                update: {
                    url: "Save",
                    dataType: "jsonp"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "CheckNumber",
                    fields: {
                        PrintDate: { type: "date", validation: { required: true }, nullable: true, editable: false },
                        CustomerCode: { validation: { required: true }, nullable: true, editable: false },
                        TaskId: { validation: { required: true }, nullable: true, editable: false },
                        CheckNumber: { validation: { required: true }, nullable: true, editable: false },
                        UserName: { validation: { required: true }, nullable: true, editable: false },
                        SendContact: { validation: { required: true }, nullable: true, editable: false },
                        ReceiveContact: { validation: { required: true }, nullable: true, editable: false },
                        SendCity: { validation: { required: true }, nullable: true, editable: false },
                        ReceiveCity: { validation: { required: true }, nullable: true, editable: false },
                        SendStation: { validation: { required: true }, nullable: true, editable: false },
                        ArriveStation: { validation: { required: true }, nullable: true, editable: false },
                        Pieces: { validation: { required: true }, nullable: true, editable: false },
                        Plates: { validation: { required: true }, nullable: true, editable: false },
                        SpecialNeed: { validation: { required: true }, nullable: true, editable: false },
                        ASectionSupplier: { validation: { required: true }, nullable: true, editable: false },
                        AScanDate: { type: "date", validation: { required: true }, nullable: true, editable: false },
                        ADriver: { validation: { required: true }, nullable: true, editable: false },
                        ASectionPayment: { validation: { required: true }, nullable: true },
                        CSectionSupplier: { validation: { required: true }, nullable: true, editable: false },
                        CDriver: { validation: { required: true }, nullable: true, editable: false },
                        CShippingFee: { validation: { required: true }, nullable: true },
                        RemoteFee: { validation: { required: true }, nullable: true },
                        CSectionSpecialFee: { validation: { required: true }, nullable: true },
                        CSectionPayment: { validation: { required: true }, nullable: true, editable: false },
                        ArriveOption: { validation: { required: true }, nullable: true, editable: false },
                        UpdateUser: { validation: { required: true }, nullable: true, editable: false },
                        PalletACSectionShouldPayId: { validation: { required: true }, nullable: true, editable: false },
                    }
                }
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {
            getGrid();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").destroy();
                $("#grid").empty();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                sortable: true,
                filterable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                columnMenu: true,
                excel: {
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + "棧板AC段應付明細.xlsx",
                    allPages: true,
                    filterable: true
                },
                noRecords: {
                    template: "查無資料，請重新設定篩選條件。"
                },
                height: 650,
                columns: [
                    { field: "PrintDate", title: "發送日", format: "{0: yyyy/MM/dd}", width: 90 },
                    { field: "CustomerCode", title: "客戶代號", width: 90 },
                    { field: "TaskId", title: "任務編碼", width: 90 },
                    { field: "CheckNumber", title: "貨號", width: 90 },
                    { field: "UserName", title: "建檔人", width: 90 },
                    { field: "SendContact", title: "寄件人", width: 90 },
                    { field: "ReceiveContact", title: "收件人", width: 90 },
                    { field: "SendCity", title: "發送區域", width: 90 },
                    { field: "ReceiveCity", title: "配送區域", width: 90 },
                    { field: "SendStation", title: "發送站", width: 90 },
                    { field: "ArriveStation", title: "到著站", width: 90 },
                    { field: "Plates", title: "板數", width: 70 },
                    { field: "Pieces", title: "件數", width: 70 },
                    { field: "SpecialNeed", title: "特殊配送說明", width: 120 },
                    { field: "ASectionSupplier", title: "A段區配商", width: 120 },
                    { field: "AScanDate", title: "A段集貨時間", format: "{0: yyyy/MM/dd HH:mm}", width: 120 },
                    { field: "ADriver", title: "A段集貨司機", width: 120 },
                    { field: "ASectionPayment", title: "A段應付費用", width: 120 },
                    { field: "CSectionSupplier", title: "C段區配商", width: 120 },
                    { field: "CDriver", title: "C段作業司機", width: 120 },
                    { field: "CShippingFee", title: "C段運價", width: 90 },
                    { field: "RemoteFee", title: "偏遠地區計價", width: 120 },
                    { field: "CSectionSpecialFee", title: "C段特殊加價", width: 120 },
                    { field: "CSectionPayment", title: "C段應付費用", width: 120 },
                    { field: "ArriveOption", title: "配達區分", width: 90 },
                    { field: "UpdateUser", title: "最新修改人", width: 120 },
                    { hidden: true, field: "PalletACSectionShouldPayId", title: "棧板AC段應付費用資料表的Id", width: 70 },
                    { command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }, title: "修改", width: 90 }
                ],
                editable: { mode: "inline" },
            });

            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    function exportexcel() {
        try {
            var grid = $("#grid").data("kendoGrid");
            grid.saveAsExcel();
        } catch (e) {
            fnDialog('無法匯出Excel',
                '無法匯出Excel，請洽管理員。',
                null,
                null);
        }
    }

</script>

<style>
    h4 {
        margin-top: 2em;
    }
    input {
        width:100%;
    }
    #search {
        margin-top: 2em;
        margin-right: 2em;
    }
</style>
