﻿@{
    ViewData["Title"] = "CbmInfo";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div>
    <h1>丈量機量測貨件資訊</h1>
</div>

<div class="selector">
    <div>
        <h4>
            發送站所
            <input id="stations" style="font-size:12px" />
        </h4>
    </div><div>
        <h4>
            客戶代號
            <input id="customerCode" style="font-size:12px" />
        </h4>
    </div><div>
        <h4>
            日期區間
            <div id="datePeriod" style="font-size:12px"></div>
        </h4>
    </div><div>
        <h4>
            貨號
            <input id="checkNumber" placeholder="請輸入貨號" style="border-color:black; border-width:1px; font-size:20px" />
        </h4>
    </div>

    <button id="search">查詢</button><label id="msg" style="font-size:20px; color:red"></label>
    <a class="k-button" href="javascript:getExcel();">匯出Excel</a>
</div>
<div id="grid" />
<script>

    var areaName = "";
    var station = "@Html.Raw(ViewBag.Station)";
    console.log(station);
    //綁定站所以外工號可看全部
    if (station.length !=2 ) {
        $(document).ready(function () {
            $("#stations").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "StationSCode",
                value: "",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/KendoSelect/GetStation?isNeedAllStation=false"
                        }
                    }
                },
                change: function (e) {
                    var value = this.value();
                    GetCustomerCodes($('#stations').data("kendoDropDownList").value());
                }
            });

            $("#datePeriod").kendoDateRangePicker();

            GetCustomerCodes(-1);




        })

    }
    else {
        $(document).ready(function () {
            $("#stations").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "StationSCode",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/KendoSelect/GetStation?isNeedAllStation=false"
                             //url: "/KendoSelect/GetStation?stationSCode=@Html.Raw(ViewBag.Station)&isNeedAllStation=false"
                        }
                    }
                },
                change: function (e) {
                    var value = this.value();
                    StationSCode = value;
                    GetCustomerCodes(@Html.Raw(ViewBag.Station));
                }
            });

            $("#datePeriod").kendoDateRangePicker();

                GetCustomerCodes(@Html.Raw(ViewBag.Station));

        })


    }

    function getExcel() {
        var grid = $("#grid").data("kendoGrid");
        grid.setOptions({
            excel: {
                allPages: true
            }
        });
        grid.saveAsExcel();
    }

    function GetCustomerCodes(selectedStation) {
        $("#customerCode").width(500).kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetCustomer?stationCode=" + selectedStation,
                    }
                }
            },
        }).data("kendoDropDownList");
    }

    $("#search").kendoButton({
        click: function (e) {
            var isStationNonEmpty = $("#stations").data("kendoDropDownList").value() != "";
            var isCustomerCodeNonEmpty = $("#customerCode").data("kendoDropDownList").value() != "";
            var isCheckNumberNonEmpty = $("#checkNumber").val() != "";
            var isStartDateNonEmpty = $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText != "month/day/year";
            var isEndDateNonEmpty = $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText != "month/day/year";
            var isDateCorrect = isStartDateNonEmpty & isEndDateNonEmpty;
            console.log(station);
            if (isCheckNumberNonEmpty) {
                $("#msg").text("本次查詢條件:貨號");
                GetGrid();
            } else if (isDateCorrect & isCustomerCodeNonEmpty) {
                $("#msg").text("本次查詢條件:日期、客代");
                GetGrid();
            } else if (isDateCorrect & isStationNonEmpty) {
                $("#msg").text("本次查詢條件:日期、站所");
                GetGrid();
            } else if (isCustomerCodeNonEmpty) {
                $("#msg").text("本次查詢條件:客代");
                GetGrid();
            } else if (isStationNonEmpty) {
                $("#msg").text("本次查詢條件:站所");
                GetGrid();
                //鎖定站所查到全部資料
          /*  } else if (station.length == 2 & isDateCorrect & !isStationNonEmpty) {
                $("#msg").text("請輸入站所");*/
            } else if (isDateCorrect) {
                $("#msg").text("本次查詢條件:日期");
                GetGrid();
            } else {
                $("#msg").text("必須填入至少一條件");
            }
        }
    })

    function GetGrid() {
        (function () {
            if ($("#grid").data('kendoGrid') == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource().read();
                $("#grid").data("kendoGrid").refresh();
            }
        })

        var cbmInfoDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/CbmInfo/GetCbmInfo",
                    dataType: "jsonp",
                    cache: "false",
                    data: function () {
                        return {
                            station: $("#stations").data("kendoDropDownList").value(),
                            customercode: $("#customerCode").data("kendoDropDownList").value(),
                            start: $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" ? null : $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText,
                            end: $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" ? null : $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText,
                            checknumber: $("#checkNumber").val()
                        };
                    }
                },
                parameterMap: function (data) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
            model: {
                id: "Id",
                fields: {
                    PrintDateFrontEnd: { editable: false },
                    CheckNumber: { type: "string" },
                    Scale: { type: "string" },
                    SidesSum: { type: "string" },
                    Length: { type: "number" },
                    Width: { type: "number" },
                    Height: { type: "number" },
                    MeasurementTime: { type: "date" },
                    DaYuanPicURL: { type: "string" },
                    TaiChungPicURL: { type: "string" }
                }
            }
        }
        })

        $("#grid").kendoGrid({
            dataSource: cbmInfoDataSource,
            pageable: true,
            height: 550,
            columns: [
                { field: "PrintDateFrontEnd", title: "發送日期" },
                { field: "CheckNumber", title: "貨號" },
                { field: "Scale", title: "規格" },
                { field: "SidesSum", title: "丈量機三邊和" },
                { field: "Length", title: "長" },
                { field: "Width", title: "寬" },
                { field: "Height", title: "高" },
                { field: "Size", title: "才數" },
                { field: "Weight", title: "重量" },
                { field: "MeasurementTime", title: "丈量時間", format: "{0: yyyy/MM/dd HH:mm}" },
                { field: "DaYuanPicURL", template: '<a href=#=DaYuanPicURL# target=_blank>#= DaYuanPicText#</a>', title: "貨件照片1" },
                { field: "TaiChungPicURL", template: '<a href=#=TaiChungPicURL# target=_blank>#= TaiChungPicText#</a>', title: "貨件照片2" }
            ]
        })
    }


</script>
