﻿@model LightYear.JunFuTrans.BL.BE.DriverToStationPayment.ViewCreatedSheetEntity
@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<style>
    button{
        margin-bottom: 10px;
    }
</style>

<div style="display:grid; justify-content:center; padding-bottom: 50px">
    <h1>本日精算書總計</h1><br /><br />
    <table>
        <tr>
            <td>工號</td>
            <td>@Model.DriverCode</td>
        </tr>
        <tr>
            <td>站所代碼</td>
            <td>@Model.StationScode</td>
        </tr>
        <tr>
            <td>今日應繳</td>
            <td>@Model.TodaysShouldCollectMoney</td>
        </tr>
        <tr>
            <td>今日已製作精算書金額</td>
            <td>@Model.TodaysPaidMoney</td>
        </tr>
        <tr>
            <td>差額</td>
            <td>@Model.Difference</td>
        </tr>
    </table><br /><br />

    <button class="btn btn-secondary" id="create" onclick="create()">製作</button>

    @if (Model.TodaysShouldCollectMoney == 0)
    {

        <a class="btn btn-secondary" href="PrintEmptySheet?driverCode=@Model.DriverCode">列印空白精算書</a>
    }
    else
    {
        <button id="view" class="btn btn-secondary" onclick="view()">查看已製作精算書</button>
    }
</div>

<script>
    if (@Model.Difference == 0) {
        $("#create").prop("disabled", true);
    }

    if (@Model.TodaysPaymentSheet.Length == 0) {
        $("#view").prop("disabled", true);
    }

    function create() {
        window.location.href = "EnterTransactionInfo?driverCode=@Model.DriverCode&difference=@Model.Difference";
    }

    function view() {
        window.location.href = "ViewCreated?driverCode=" + "@Model.DriverCode";
    }

    function openEmtpy() {
        window.open("PrintEmptySheet?driverCode=@Model.DriverCode");
    }

</script>

