﻿@model LightYear.JunFuTrans.BL.BE.DriverToStationPayment.ViewCreatedSheetEntity

@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<table class="table table-bordered">
    @foreach (var e in Model.TodaysPaymentSheet)
    {
        <tr>
            <td></td>
            <td>上傳時間：@e.CreateDate</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>匯款後五碼</td>
            <td>@e.TranscationLastFive</td>
        </tr>
        <tr>
            <td>付款方式/金額</td>
        </tr>
        <tr>
            <td>匯款</td>
            <td>@e.RemittanceAmount</td>
        </tr>
        <tr>
            <td>支票</td>
            <td>@e.CheckAmount</td>
        </tr>
        <tr>
            <td>零錢</td>
            <td>@e.CoinsAmount</td>
        </tr>
        <tr>
            <td>合計</td>
            <td>@e.PaidTotal</td>
        </tr>
        <tr></tr>
    }

</table>

<table class="table table-bordered">
    <tr>
        <td>回收別</td>
        <td>筆數</td>
        <td>應繳金額</td>
    </tr>
    <tr>
        <td>11元付</td>
        <td>@Model.CategoryCount.YuanFuCount </td>
        <td>@Model.CategoryCount.YuanFuMoney</td>
    </tr>
    <tr>
        <td>41代收</td>
        <td>@Model.CategoryCount.CashOnDeliveryCount </td>
        <td>@Model.CategoryCount.CashOnDeliveryMoney</td>
    </tr>
    <tr>
        <td>51應收帳款</td>
        <td>@(Model.CategoryCount.DestinationCashCount + Model.CategoryCount.DestinationCheckCount + Model.CategoryCount.DestinationRemittanceCount) </td>
        <td>@(Model.CategoryCount.DestinationCashMoney + Model.CategoryCount.DestinationCheckMoney)</td>
    </tr>
    <tr>
        <td>31預購袋</td>
        <td>@(Model.CategoryCount.PreOrderBagCashCount + Model.CategoryCount.PreOrderBagCheckCount + Model.CategoryCount.PreOrderBagRemittanceCount) </td>
        <td>@(Model.CategoryCount.PreOrderBagCashMoney + Model.CategoryCount.PreOrderBagCheckMoney)</td>
    </tr>
    <tr>
        <td></td>
        <td>合計</td>
        <td>@Model.TodaysShouldCollectMoney</td>
    </tr>
</table>

<button class="btn btn-secondary" onclick="print()">列印</button>
<a href="TodaysSummary" class="btn btn-secondary">回上一層</a>


<script>
        function print() {
            window.open('ViewPaymentSheetByDriverAndDate?driverCode=@Model.DriverCode&date=@ViewBag.Today',
                        'PreviewSheet', 'width=800,height=800, left=0, top=0');
        }

</script>
