﻿@model LightYear.JunFuTrans.BL.BE.CustomerShouldPay.CustomerPaymentEntity
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<style>
    @@media print {
        .no-print {
            display: none !important;
        }

        #menuex {
            display: none !important;
        }
    }
</style>

<h1><img src="~/images/FESlogo.png" width="200">對帳單</h1>
<br>

<div><span>@Model.CustomerCode @Model.CustomerName  </span><span>結帳區間：@Model.ShipDateStart 至 @Model.ShipDateEnd</span></div>
<span>電子發票號碼：<input style="margin-right: 10px" type="text" value="@Model.ElectricReceipt" disabled="disabled"></span><span>請款編號：<input type="text" value="@Model.InvoiceId" disabled="disabled"></span>

<table class="table table-bordered" id="main-table">
    <thead>
        <tr>
            <th>序號</th>
            <th>發送日期</th>
            <th>託運單號</th>
            <th>訂單編號</th>
            <th>發送站</th>
            <th>到著站</th>
            <th>收件人</th>
            <th>規格(丈量機)</th>
            <th>丈量機長</th>
            <th>丈量機寬</th>
            <th>丈量機高</th>
            <th>傳票類別</th>
            <th>件數</th>
            <th>指定配送</th>
            <th>運價</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.DetailEntities.Length; i++)
        {
            <tr class="data-row">
                <td>@(i+1)</td>
                <td>@Model.DetailEntities[i].ShipDate</td>
                <td class="field-check-number">@Model.DetailEntities[i].CheckNumber</td>
                <td>@Model.DetailEntities[i].OrderId</td>
                <td>@Model.DetailEntities[i].SupplyStationName</td>
                <td>@Model.DetailEntities[i].ArriveStationName</td>
                <td>@Model.DetailEntities[i].ReceiveMan</td>
                <td>@Model.DetailEntities[i].GoodTypeByMachineShowName</td>
                <td>@Model.DetailEntities[i].Length</td>
                <td>@Model.DetailEntities[i].Width</td>
                <td>@Model.DetailEntities[i].Height</td>
                <td>@Model.DetailEntities[i].SubpoenaCategoryShowName</td>
                <td>@Model.DetailEntities[i].Pieces</td>
                <td>@Model.DetailEntities[i].HolidayDelivery</td>
                <td><input type="number" class="field-freight" value="@Model.DetailEntities[i].Price" /></td>
                <td><button class="btn btn-outline-secondary no-print save">儲存</button></td>
            </tr>
        }

    </tbody>
</table>

<h3>稅額：<span id="tax"></span></h3>
<h3>總金額(含稅)：<span id="total"></span></h3><br/><br />
<br />
<br />

<button class="btn btn-secondary no-print" id="print">列印</button>
<button class="btn btn-secondary no-print" id="export">匯出</button>

<script>

    var total = 0;

    refreshTotal();

    function refreshTotal() {
        total = 0;
        $(".field-freight").each(function () {
            total += parseInt(this.value);
        });
        $("#total").text(total);
        $("#tax").text(Math.round(total / 21));     //扣除稅額
    }

    $(".save").click(function (event) {

        var row = $(event.target).parents(".data-row");
        var checkNumber = row.find(".field-check-number").text();
        var pickUpType = row.find(".field-type option:selected").val();
        var freight = row.find(".field-freight").val();

        var sendData = {
            CheckNumber: checkNumber,
            PickUpType: pickUpType,
            Freight: parseInt(freight)
        };

        $.ajax({
            url: "Save",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(sendData),
            success: function (response) {
                if (response.resultcode != true) {
                    alert("儲存失敗");
                } else {
                    alert("儲存成功!");
                    refreshTotal();
                }
            }
        });
    });

    $(".field-type").on('change', function () {

        var row = $(event.target).parents(".data-row");
        var freight = row.find(".field-freight");

        $.ajax({
            url: "GetFreightByCustomerAndType",
            type: "post",
            dataType: "json",
            data: {
                customerCode: "@Model.CustomerCode",
                type: this.value
            },
            success: function (response) {
                if (response.freight > 0) {
                    freight.val(response.freight);
                    refreshTotal();
                }
            }
        });
    });

    function download_table_as_csv(table_id) {
        // Select rows from table_id
        var rows = document.querySelectorAll('table#' + table_id + ' tr');
        // Construct csv
        var csv = [];
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll('td, th');
            for (var j = 0; j < cols.length; j++) {
                var data;
                if ($(cols[j]).find('select').length) { // 如果是下拉選單
                    data = $(cols[j]).find('option:selected').text();
                } else if ($(cols[j]).find('input').length) {
                    data = $(cols[j]).find('input').val();
                } else if ($(cols[j]).find('button').length) { // 按鈕不匯出
                    data = "";
                }
                else {
                    data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                }
                // Clean innertext to remove multiple spaces and jumpline (break csv)

                data = data.replace(/"/g, '""');
                // Push escaped string
                row.push('"' + data + '"');
            }
            csv.push(row.join(','));
        }
        var csv_string = csv.join('\n');
        // Download it
        var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
        var link = document.createElement('a');
        var universalBOM = "\uFEFF";
        link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(universalBOM + csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    $("#export").click(function () {
        download_table_as_csv("main-table");
    });

    $("#print").click(function () {
        window.print();
    });

</script>