﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <ul>
            <li>
                <label>
                    發送站:
                    <input id="station" name="station" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    派遣時間:
                </label>
                <div id="daterangepicker" title="daterangepicker"></div>
            </li>
            <li>
                <label>
                    客戶代碼:
                    <input id="customerCode" name="customerCode" style="width: 300px;" />
                </label>
            </li>
            <li>
                <label>
                    回收狀態:
                    <select id="dataType" style="width: 100%;" onchange="javascript: changeDataType();">
                        <option value="0">全部</option>
                        <option value="1">未取</option>
                        <option value="2">已取</option>
                    </select>
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
            </li>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>
        <script id="team-template" type="text/x-kendo-template">
            <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
        </script>
        <script>
            var tempStationCode = "";
            var startDate = "";
            var endDate = "";
            var customerCode = "";
            var stationCode = "";
            var myGetUrl = "";
            var myDataType = "0";

            $(document).ready(function () {
                $("#daterangepicker").kendoDateRangePicker({
                    change: onChange
                });

                function onChange() {
                    var range = this.range();
                    startDate = kendo.toString(range.start, 'd');
                    endDate = kendo.toString(range.end, 'd')
                }

                $("#station").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "StationSCode",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/KendoSelect/GetStation?isNeedAllStation=false",
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        $("#customerCode").data("kendoDropDownList").value(-1);
                        stationCode = value;
                        customerCode = "";
                        //tempStationCode = value;
                        //GenCustomerData();
                    }
                });

                GenCustomerData();

            });

            function GenCustomerData() {
                var getCustomerUrl = "/KendoSelect/GetCustomer?stationCode=" + tempStationCode;

                $("#customerCode").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "CustomerCode",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: getCustomerUrl,
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        $("#station").data("kendoDropDownList").value(-1);
                        customerCode = value;
                        stationCode = "";
                    }
                });
            }

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function findInfo() {

                var myreturn = checkInput(stationCode, customerCode);

                if (!myreturn) {
                    return false;
                }

                kendo.ui.progress($("#container"), true);

                var myGrid = $("#grid").data("kendoGrid");

                if (typeof myGrid !== "undefined") {
                    myGrid._progress(1);
                }

                genGrid();

            }

            function checkInput(station, customer) {
                if (startDate == "") {
                    alert("必須設定啟始日期");
                    return false;
                }

                if (endDate == "") {
                    alert("必須設定迄止日期");
                    return false;
                }

                var mystart = new Date(startDate);
                var myend = new Date(endDate);

                var datediffnum = datediff(mystart, myend);

                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }

                if (station == "" && customer == "") {
                    alert("必須設定到發送站所或發貨客戶");
                    return false;
                }

                return true;
            }

            function getExcel() {

                var myreturn = checkInput(stationCode, customerCode);

                if (!myreturn) {
                    return false;
                }

                $("#grid").getKendoGrid().saveAsExcel();
            }

            function genGrid() {
                if ($("#grid").data("kendoGrid") == null) { }
                else {
                    $("#grid").data("kendoGrid").destroy();
                    $("#grid").empty();
                }
                var getUrl = "GetReturnDeliveryGrid?station=" + stationCode + "&customer=" + customerCode + "&start=" + startDate + "&end=" + endDate + "&checkType=" + myDataType;

                myGetUrl = getUrl;

                var dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: myGetUrl,
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        pageSize: 50,
                        batch: true,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    Id: { editable: false, nullable: true },
                                    No: { validation: { required: false } },
                                    PrintDate: { validation: { required: false } },
                                    CheckNumber: { validation: { required: false } },
                                    ShipDate: { validation: { required: false } },
                                    SendStationName: { validation: { required: false } },
                                    SenderName: { validation: { required: false } },
                                    SenderPhone: { validation: { required: false } },
                                    SenderAddress: { validation: { required: false } },
                                    ReturnItem: { validation: { required: false } },
                                    Pieces: { validation: { required: false } },
                                    ArriveStationName: { validation: { required: false } },
                                    PickUpState: { validation: { required: false } },
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataBound: function () {
                        //kendo.ui.progress($("#container"), false);
                    },
                    dataSource: dataSource,
                    toolbar: ["excel"],
                    excel: {
                        fileName: "逆物流報表.xlsx",
                        allPages: true
                    },
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: [20, 30, 50, "all"],
                        buttonCount: 5
                    },
                    columns: [{
                        field: "No",
                        title: "No."
                    }, {
                        field: "PrintDate",
                        title: "派遣日"
                    }, {
                        field: "CheckNumber",
                        title: "貨號"
                    }, {
                        field: "ShipDate",
                        title: "發送日"
                    }, {
                        field: "SendStationName",
                        title: "發送站"
                    }, {
                        field: "ReturnerName",
                        title: "退貨人"
                    }, {
                        field: "ReturnerPhone",
                        title: "退貨人電話"
                    }, {
                        field: "ReturnerAddress",
                        title: "退貨人地址"
                    }, {
                        field: "ReturnItem",
                        title: "收回品項"
                    }, {
                        field: "Pieces",
                        title: "件數"
                    }, {
                        field: "ArriveStationName",
                        title: "到著站"
                    }, {
                        field: "PickUpState",
                        title: "收回狀態"
                    }, {
                        field: "LatestScanItem",
                        title: "最新作業"
                    }, {
                        field: "LatestArriveOption",
                        title: "配達區分"
                    }, {
                        field: "LatestScanDate",
                        title: "作業日時間"
                    }
                    ],
                    editable: "popup"
                });

                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.read();
                myGrid.refresh();
            }

            function changeDataType() {
                myDataType = $("#dataType").val();
            }
        </script>
    </div>
</div>
