﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <h4>各單位收支明細</h4>
        <ul>
            <li>
                <label>
                    上傳日期區間:
                </label>
                <div id="daterangepicker" title="daterangepicker"></div>
            </li>
            <li>
                <label>
                    權責單位:
                    <input id="department" style="width: 100%;" />
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
            </li>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>

        <script>
            var startDate = "";
            var endDate = "";

            $(document).ready(function () {

                $("#daterangepicker").kendoDateRangePicker({
                    change: onChange
                });

                function onChange() {
                    var range = this.range();
                    startDate = kendo.toString(range.start, 'd');
                    endDate = kendo.toString(range.end, 'd');
                }

                var deptDropDown = $("#department").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetJFDept?addTotal=" + true
                            }
                        }
                    }
                }).data("kendoDropDownList");
            });

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function findInfo() {

                kendo.ui.progress($("#container"), true);

                var myGrid = $("#grid").data("kendoGrid");

                if (typeof myGrid !== "undefined") {
                    myGrid._progress(1);
                }

                genGrid();
            }

            function checkInput(station, customer) {
                if (startDate == "") {
                    alert("必須設定啟始日期");
                    return false;
                }

                if (endDate == "") {
                    alert("必須設定迄止日期");
                    return false;
                }

                var mystart = new Date(startDate);
                var myend = new Date(endDate);

                var datediffnum = datediff(mystart, myend);

                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }

                return true;
            }

            function getExcel() {

                $("#grid").getKendoGrid().saveAsExcel();
            }

            function genGrid() {

                var department = $("#department").data('kendoDropDownList').value();
                var getUrl = "GetEditPageFrontEntity?start=" + startDate + "&end=" + endDate + "&duty=" + department;

                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: getUrl,
                                dataType: "jsonp"
                            },
                            update: {
                                url: "UpdateVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            destroy: {
                                url: "DeleteVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models[options.models.length-1]) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    UploadDate: { editable: false, type: "date" },
                                    DutyDept: { editable: false },
                                    RegisterDate: {
                                        editable: true, type: "date",
                                        validation: {
                                            required: true
                                        }
                                    },
                                    FeeType: {
                                        editable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    VendorName: {
                                        editable: true, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    CarNumber: { editable: true, nullable: true },
                                    Payment: {
                                        editable: true,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Payment']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    Memo: {
                                        editable: true,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Memo']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    CompanyType: { editable: true, nullable: true }
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataBound: function () {
                        var myGrid = $("#grid").data("kendoGrid");
                        var dataSource = myGrid.dataSource;
                        var totalRecords = dataSource.total();
                        $('.k-grid-count').text("共" + totalRecords + "筆");
                    },
                    dataSource: dataSource,
                    toolbar: ["excel",
                        { name: "delete-custom", text: "批次刪除" },
                        { name: "count", text: ""}
                    ],
                    excel: {
                        fileName: "車老闆應收應付收支明細.xlsx",
                        allPages: true
                    },
                    pageable: {
                        numeric: false,
                        previousNext: false,
                        messages: {
                            display: "Total: {2}"
                        }
                    },
                    excelExport: exportGridWithTemplatesContent,
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    columns: [
                        {
                            selectable: true, width: "50px"
                        }, {
                            field: "Id",
                            hidden: true
                        },{
                            field: "UploadDate",
                            title: "上傳日期",
                            format: "{0:yyyy/MM/dd}"
                        }, {
                            field: "DutyDept",
                            title: "權責單位"
                        }, {
                            field: "RegisterDate",
                            title: "發生日期",
                            format: "{0:yyyy/MM/dd}"
                        }, {
                            field: "FeeType",
                            title: "交易項目",
                            editor: function (container, options) {
                                FeeTypeDropDownEditor(container, options);
                            }
                        }, {
                            field: "VendorName",
                            title: "供應商名稱",
                            editor: function (container, options) {
                                VendorsDropDownEditor(container, options);
                            },
                            width: "250px"
                        }, {
                            field: "CarNumber",
                            title: "車號"
                        }, {
                            field: "Payment",
                            title: "金額"
                        }, {
                            field: "Memo",
                            title: "摘要",
                        }, {
                            field: "CompanyType",
                            title: "公司別",
                            editor: function (container, options) {
                                CompaniesDropDownEditor(container, options);
                            },
                            width: "100px"
                        }, {
                            command: [
                                { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" }, title: "", width: "100px" },
                                { name: "delete", text: "刪除" , width: "100px" }
                            ]
                        }
                    ],
                    editable: {
                        mode: "inline",
                        confirmation: false
                    }
                });

                var myGrid = $("#grid").data("kendoGrid");

                myGrid.dataSource.read();
                myGrid.refresh();
            }

            $("#grid").on("click", ".k-grid-delete-custom", function () {
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];

                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;

                    ids.push(id);
                });

                $.ajax({
                    url: "BatchDeleteVendorPaymentLog",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");

                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                });
            });

            function writeOffCheckListDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "Information",
                        dataValueField: "Id",
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "/KendoSelect/GetErrorWriteOffCheckList"
                            }
                        }
                    });
            }

            function FeeTypeDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>') // required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetFeeTypes"
                            }
                        }
                    });
            }

            function CompaniesDropDownEditor(container, options) {
                $('<input name="' + options.field + '"/>') // not required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        valuePrimitive: true,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetCompanies"
                            }
                        }
                    });
            }

            function VendorsDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        valuePrimitive: true,
                        dataTextField: "vendorName",
                        dataValueField: "vendorName",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors"
                            }
                        }
                    });
            }

            function exportGridWithTemplatesContent(e) {
                var data = e.data;
                var gridColumns = e.sender.columns;
                var sheet = e.workbook.sheets[0];
                var visibleGridColumns = [];
                var columnTemplates = [];
                var dataItem;
                // Create element to generate templates in.
                var elem = document.createElement('div');

                // Get a list of visible columns
                for (var i = 0; i < gridColumns.length; i++) {
                    if (!gridColumns[i].hidden) {
                        visibleGridColumns.push(gridColumns[i]);
                    }
                }

                // Create a collection of the column templates, together with the current column index
                for (var i = 0; i < visibleGridColumns.length; i++) {
                    if (visibleGridColumns[i].template) {
                        columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
                    }
                }

                // Traverse all exported rows.
                for (var i = 1; i < sheet.rows.length; i++) {
                    var row = sheet.rows[i];
                    // Traverse the column templates and apply them for each row at the stored column position.

                    // Get the data item corresponding to the current row.
                    var dataItem = data[i - 1];
                    for (var j = 0; j < columnTemplates.length; j++) {
                        var columnTemplate = columnTemplates[j];
                        // Generate the template content for the current cell.
                        elem.innerHTML = columnTemplate.template(dataItem);
                        if (row.cells[columnTemplate.cellIndex - 1] != undefined)
                            // Output the text content of the templated cell into the exported cell.
                            row.cells[columnTemplate.cellIndex - 1].value = elem.textContent || elem.innerText || "";
                    }
                }
            }
        </script>
    </div>
</div>
