﻿@model LightYear.JunFuTrans.BL.BE.Menu.FrontendMenuEntity
<div id="menuex">
    <div id="megaStore">
        <ul id="menu">
            @foreach (var category in Model.Categories)
            {
                if (category.IsMenu)
                {


                    <li>
                        @category.CategoryName
                    <ul>
                        @foreach (var subCategory in category.SystemSubCategoryEntities)
                        {
                            <li>
                                @subCategory.SubCategoryName
                            <ul>
                                @foreach (var function in subCategory.SystemFunctionEntities)
                                {
                                    if (function.IsMenu)
                                    {
                                    @if (function.Url.Length > 0)
                                    {
                                        <li><a href="@function.Url">@function.FunctionName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="javascript:alert('功能當未完成！');">@function.FunctionName</a></li>
                                    }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
            }
        }
            <li><a href="/Account/Logout">@Model.UserInfoEntity.ShowName  登出</a></li>
        </ul>
    </div>
    <style>

        #megaStore {
            max-width: 720px;
            margin: 30px auto;
            padding-top: 200px;
            background: url('../images/FESlogo.png?v=20211028') no-repeat center 0;
            background-size: 35%;
        }

        #menu h2 {
            font-size: 1em;
            text-transform: uppercase;
            padding: 5px 10px;
        }

        #template img {
            margin: 5px 20px 0 0;
            float: left;
        }

        #template {
            width: 380px;
        }

            #template ol {
                float: left;
                margin: 0 0 0 30px;
                padding: 10px 10px 0 10px;
            }

            #template:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            #template .k-button {
                float: left;
                clear: left;
                margin: 5px 0 5px 12px;
            }
    </style>
    <script>
    $(document).ready(function () {
            $("#menu").kendoMenu();
        });</script>
</div>