﻿@{
    ViewData["Title"] = "橘子 - 路段維護";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="container">
        <div class="demo-section k-content">
            <h4>請選擇站所</h4>
            <ul>
                <li>
                    <label>
                        維護站所:
                        <input id="station" name="station" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <a class="offline-button" href="javascript:findInfo();">查詢</a>
                    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
                </li>
                <div>
        
        <form asp-controller="StationArea" asp-action="List" method="post">
            <button asp-action="Export" type="submit" name="exportexcel" class="btn btn-success">
                <i class="fa fa-download"></i>
                下載空白路段維護表
            </button>
        </form>
    </div><br />
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="StationArea" asp-action="ImportFile">
        <label for="file">上傳:</label>
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button id="submit" class="btn btn-warning"><i class="fa fa-upload"></i>上傳</button>
    </form><br />
            </ul>
        </div>
        <div id="example">
            <div id="grid"></div>
            <script id="team-template" type="text/x-kendo-template">
                <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:Id#" target="_blank">查看託運單狀態</a>
            </script>
            <script>
                var tempStationCode = "";
                var tempSelectedSection = "";

                if ("@ViewBag.message" != "") {
                    //document.getElementById('one').style.display = 'none';
                    //document.getElementById('two').style.display = 'block';
                    alert( @ViewBag.message );
                }

                $(document).ready(function () {

                    $("#station").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "StationSCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetStation?isNeedAllStation=true",
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            stationCode = value;
                            //tempStationCode = value;
                            //GenCustomerData();
                        }
                    });

                });






                function datediff(first, second) {
                    return Math.round((second - first) / (1000 * 60 * 60 * 24));
                }

                function findInfo() {

                    var myreturn = checkInput(stationCode);

                    if (!myreturn) {
                        return false;
                    }

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }

                    genGrid();

                }

                function checkInput(station) {

                    if (station == "") {
                        alert("必須設定到編輯站所");
                        return false;
                    }

                    return true;
                }

                function onChange(arg) {
                    //alert(this.selectedKeyNames().join(", "));
                    tempSelectedSection = this.selectedKeyNames().join(", ");
                }

                function message() {
                    if ("@ViewBag.message" != "") {
                        //document.getElementById('one').style.display = 'none';
                        //document.getElementById('two').style.display = 'block';
                        alert( @ViewBag.message );
                    }
                }

                function batchEdit() {
                    alert(tempSelectedSection);
                }


                function getExcel() {

                    var myreturn = checkInput(stationCode);

                    if (!myreturn) {
                        return false;
                    }

                    $("#grid").getKendoGrid().saveAsExcel();
                }


                function genGrid() {

                    if ($("#grid").data("kendoGrid") == null) { }
                    else
                    {
                        $("#grid").data("kendoGrid").destroy();
                        $("#grid").empty();
                    }

                    var getUrl = "GetPost5Code?station=" + stationCode;

                    myGetUrl = getUrl;

                    var dataSource = new kendo.data.DataSource(
                        {
                            transport: {
                                read: {
                                    url: myGetUrl,
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: "/StationArea/EditPost5Mapping",
                                    dataType: "jsonp"
                                },

                                create: {
                                    url: "/StationArea/EditPost5Mapping",
                                    dataType: "jsonp"
                                },
                                destroy: {
                                    url: "/StationArea/DeletePost5Mapping",
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            requestEnd: function (e) {

                                kendo.ui.progress($("#container"), false);
                            },
                            error: function (e) {
                                //console.log('errorThrown    :::::');

                               

                                alert("站所代碼或名稱不存在,請重新輸入");

                               
                            },
                            pageSize: 50,
                            batch: true,
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, nullable: false, defaultValue: 0 },
                                        Office: { editable: false,validation: { required: false }, nullable: true },
                                        Zip3A: { editable: false,validation: { required: true , required: { message: "必填" }}, nullable: true },
                                        ZipCode: { editable: false,validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        City: { editable: false,validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        Area: { editable: false,validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        Road: { editable: false,validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        Scoop: { editable: false,validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        StationScode: { validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        StationName: { validation: { required: true, required: { message: "必填" } }, nullable: true },
                                        MDNo: { validation: { required: false }, nullable: true },
                                        SDNo: { validation: { required: false }, nullable: true },
                                        PutOrder: { validation: { required: false }, nullable: true },
                                        ShuttleStationCode: { validation: { required: false }, nullable: true },  //接駁碼
                                        SendSD: { validation: { required: false }, nullable: true },   //集貨SD
                                        SendMD: { validation: { required: false }, nullable: true }  //集貨MD
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataBound: function () {
                            //kendo.ui.progress($("#container"), false);
                        },
                        dataSource: dataSource,
                        //toolbar: ["excel"],
                        excel: {
                            fileName: "路段新增修改明細表.xlsx",
                            allPages: true
                        },
                        //groupable: true,
                        columnMenu: true,
                        sortable: true,
                        filterable: {
                            mode: "row"
                        },
                        change: onChange,
                        height: 650,
                        //toolbar: [{ name: "create", text: "新增" }, { name: "delete-custom", text: "刪除" }],
                        pageable: {
                            refresh: true,
                            pageSizes: [20, 30, 50, "all"],
                            buttonCount: 5
                        },
                        columns: [
                            { selectable: true, width: "50px" },
                            {
                                command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }], title: "修改", width: "100px"
                            }, {
                                field: "Office",
                                title: "郵政投遞區", filterable: false,
                                width: 180
                            }, {
                                field: "Zip3A",
                                title: "郵遞區號3碼", filterable: false,
                                width: 150
                            }, {
                                field: "ZipCode",
                                title: "郵遞區號5碼", filterable: false,
                                width: 150
                            }, {
                                field: "City",
                                title: "縣市",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Area",
                                title: "鄉鎮市區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Road",
                                title: "路段",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Scoop",
                                title: "配送路號", filterable: false,
                                width: 200
                            }, {
                                field: "StationScode",
                                title: "站所代碼",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "StationName",
                                title: "站所名稱", filterable: false,
                                width: 200
                            }, {
                                field: "SDNo",
                                title: "配區SD",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "MDNo",
                                title: "配區MD",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "PutOrder",
                                title: "堆疉區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "ShuttleStationCode",
                                title: "接駁碼",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "SendSD",
                                title: "集區SD",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "SendMD",
                                title: "集區MD",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }
                        ],
                        editable: { mode: "inline", confirmation: true }
                    });

                    var myGrid = $("#grid").data("kendoGrid");
                    myGrid.dataSource.read();
                    myGrid.refresh();
                }
                $("#grid").on("click", ".k-grid-delete-custom", function () {

            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                kendo.alert("You chose the Ok action.");
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];

                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;

                    ids.push(id);
                });


                $.ajax({
                    url: "BatchDeletePost5Mapping",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");

                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                });
            }, function () {
                kendo.alert("You chose to Cancel action.");

        });

                });

            </script>
        </div>
    </div>
