﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<div class="demo-section k-content">
    <h2>配送配達</h2><br />

    <h4>配送日期</h4>
    <div id="daterangepicker"></div><br />

    <h4>配送站所</h4>
    <input id="stations" /><br /><br />

    <h4>司機工號</h4>
    <input id="drivers" /><br /><br />

    <h4>配達區分狀態</h4>
    <input id="arriveoptions" style="display: inline-block;" /><br /><br />

    <h4><span>應配送筆數：</span><label id="deliveryCount"></label>&nbsp;&nbsp;<span>已配達筆數：</span><label id="arriveCount"></label></h4><br />
    <h4><span>代收金額總計：</span><label id="collectionMoneySum"></label></h4><br />
    <button id="query">查詢</button>&nbsp;&nbsp;<button id="export">匯出Excel</button>
    <br />
    <br />
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="DeliveryAndDeliveryMating" asp-action="ImportFile">
        <label for="file">上傳:</label>
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button id="submit" class="btn btn-warning"><i class="fa fa-upload"></i>上傳</button>
        @*<script>
                $("#submit").kendoButton({
                    click: function (e) {
                        $("#submit").hide();
                        alert(e.event.target.tagName);

                    }
                });
            </script>*@
        @*<script>
                $("#submit").kendoButton();
                var button = $("#submit").data("kendoButton");
                // disable button
                button.enable(false);
            </script>*@

    </form><br />
    <p id="response2"></p>
    <hr />
    <div>
        @*<h4>已上傳明細</h4><br />*@
        @*TmpData:@ViewBag.Response*@
        <div class="my-3">

            @if (ViewBag.Response != null)
            {
                <script type="text/javascript">
        var message = @Json.Serialize(ViewBag.Response);
        alert(message);
                </script>
            }

        </div>
    </div>
</div>
<div id="grid"></div>
<div id="excel" style="display:none"></div>

<script>
    //$("#response2").text("@ViewBag.Response".replace("&#xD;&#xA;", "\r\n"));
    var station_level = "";
    var station_area = "";
    var management= "";
    var stationscode = "";
    var driver = "";
    var arriveoption = "";
    var startdate = "";
    var enddate = "";

  $(document).ready(function () {
     $("#daterangepicker").kendoDateRangePicker({
         culture: "zh-TW",
         range: {
            start: new Date(),
            end: new Date()
         },
         change: function (e) {
             var range = this.range();
             startdate = kendo.toString(range.start, "d");
             enddate = kendo.toString(range.end, "d");
         }
     });

});

    //$(document).ready(function () {
        var stations = $("#stations").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationSCode",
            height: 200,
            //value: "@ViewBag.Station",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStation?isNeedAllStation=false",
                    }
                }
            },
            @*select: function (e) {
                var array = ['FGM01', 'FMD01', 'FHD01', 'FBD01', 'FBM01', 'FBM02'];
                if (!array.includes("@ViewBag.Station")) {
                    e.preventDefault();
                }
            },*@
            cascade: function (e) {
                var value = this.value();
                stationscode = this.value();
                getDrivers();
            }
        });
        getDrivers()
    //});

    function getDrivers() {

        var drivers = $("#drivers").kendoDropDownList({
            //optionLabel: "未選擇",
            dataTextField: "driverName",
            dataValueField: "driverCode",
            height: 200,
            dataSource: {
                transport: {
                    read: {

                        url: "/DeliveryAndDeliveryMating/GetAllDrivers?stationscode=" + stationscode,
                        dataType: "json"
                    }
                }
            },
            cascade: function (e) {
                var value = this.value();
                driver = value;
            }
        });
    }


    var arriveoptions = $("#arriveoptions").kendoDropDownList({
        //optionLabel: "未選擇",
        dataTextField: "codeName",
        dataValueField: "codeId",
        height: 200,
        dataSource: {
            transport: {
                read: {
                    url: "/DeliveryAndDeliveryMating/GetArriveOptions",
                    dataType: "json"
                }
            }
        },
        cascade: function (e) {
            var value = this.value();
             arriveoption = value;
        }
    });


    function genGrid() {

        var getUrl = "/DeliveryAndDeliveryMating/GetAll?start=" + startdate + "&end=" + enddate + "&driverCode=" + driver + "&stationscode=" + stationscode + "&arriveOption=" + arriveoption;
        myGetUrl = getUrl;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: myGetUrl,
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: false, defaultValue: 1 },
                        CheckNumber: { validation: { required: true } },
                        SubpoenaCategory: { validation: { required: true } },
                        Pieces: { validation: { required: true }, nullable: true },
                        ArriveOption: { validation: { required: true }, nullable: true },
                        ReceiveAddress: { validation: { required: true } },
                        ScanDate: { type: "date", validation: { required: true }, nullable: true },
                        DriverNameCode: { validation: { required: true } },

                    }
                }
            }
        });
    }

        $("#query").kendoButton({
            click: function (e) {
                startdate = new Date($('.k-textbox')[0].value).toISOString();
                enddate = new Date($('.k-textbox')[1].value).toISOString();

                genGrid();

            $.ajax({
                url: " GetCountPieces?start=" + startdate + "&end=" + enddate + "&driverCode=" + driver + "&stationscode=" + stationscode + "&arriveOption=" + arriveoption,
                dataType: "jsonp",
                success: function (result) {
                var showStr = result;
                $("#deliveryCount").text(showStr);
                }
            });

            $.ajax({
                url: "GetCountArriveOptions?start=" + startdate + "&end=" + enddate + "&driverCode=" + driver + "&stationscode=" + stationscode + "&arriveOption=" + arriveoption,
                dataType: "jsonp",
                success: function (result) {
                var showStr = result;
                $("#arriveCount").text(showStr);
                }
            });

                $.ajax({
                    url: "GetSumOfCollectionMoney?start=" + startdate + "&end=" + enddate + "&driverCode=" + driver + "&stationscode=" + stationscode + "&arriveOption=" + arriveoption,
                    dataType: "jsonp",
                    success: function (result) {
                        var showStr = result;
                        $("#collectionMoneySum").text(showStr);
                    }
                });


                if ($("#grid").data("kendoGrid") == null) {
                } else {
                   // $("#grid").data("kendoGrid").dataSource.read();
                   // $("#grid").data("kendoGrid").refresh();
                    $("#grid").data("kendoGrid").destroy();
                    $("#grid").empty();
                }

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    excel: {
                             fileName: "配送配達報表.xlsx",
                             allPages: true,
                             filterable: true
                    },
                    pageable: true,
                    sortable: true,
                    filterable: true,
                    toolbar: "請善用每格欄位旁的沙漏圖示篩選更快速!",
                    height: 550,
                    columns: [
                        { field: "Id", title: "序號" },
                        { field: "CheckNumber", title: "貨號" },
                        { field: "SubpoenaCategory", title: "傳票類別" },
                        { field: "Pieces", title: "件數" },
                        { field: "CbmSize", title: "材積" },
                        { field: "ArriveOption", title: "配達區分" },
                        { field: "ReceiveContact", title: "收件人姓名" },
                        { field: "ReceiveTel", title: "收件人電話" },
                        { field: "RoundTrip", title: "來回件備註" },
                        { field: "TimePeriod", title: "指定配送時間" },
                        { field: "ReceiveAddress", title: "配送地址" },
                        { field: "ScanDate", title: "掃讀時間", format: "{0: yyyy/MM/dd HH:mm:ss}" },
                        { field: "DriverNameCode", title: "作業司機" },
                        { field: "CollectionMoney", title: "代收貨款" },
                        { field: "SDMDCode", title: "配區碼" },
                        { field: "ThirdPartyFlag", title: "3PL註記" }

                    ],
                });

                $("#excel").kendoGrid({
                    dataSource: dataSource,
                    excel: {
                        fileName: "配送配達報表.xlsx",
                        allPages: true,
                        filterable: true
                    },
                    pageable: true,
                    sortable: true,
                    filterable: true,
                    height: 550,
                    columns: [
                        { field: "Id", title: "序號" },
                        { field: "CheckNumber", title: "貨號" },
                        { field: "SubpoenaCategory", title: "傳票類別" },
                        { field: "Pieces", title: "件數" },
                        { field: "CbmSize", title: "材積" },
                        { field: "ArriveOption", title: "配達區分" },
                        { field: "ReceiveContact", title: "收件人姓名" },
                        { field: "ReceiveTel", title: "收件人電話" },
                        { field: "RoundTrip", title: "來回件備註" },
                        { field: "TimePeriod", title: "指定配送時間" },
                        { field: "ReceiveAddress", title: "配送地址" },
                        { field: "ScanDate", title: "掃讀時間", format: "{0: yyyy/MM/dd HH:mm:ss}" },
                        { field: "DriverNameCode", title: "作業司機" },
                        { field: "CollectionMoney", title: "代收貨款" },
                        { field: "SDMDCode", title: "配區碼" },
                        { field: "ThirdPartyFlag", title: "3PL註記" },
                        { field: "ExcelSum", title: " "},
                        { field: "ListSum", title: " "}
                    ],
                });

                // 視窗下拉到表格位置
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);

            }
        });

     $("#export").kendoButton({
         click: function (e) {
             try {
                 var grid = $("#excel").data("kendoGrid");
                 grid.saveAsExcel();
             } catch (e) {
                 //alert(e);
                 fnDialog('無法匯出Excel',
                     '無法匯出Excel，請洽管理員。',
                     null,
                     null);
             }
         }
     });

</script>

