﻿
@{
    ViewData["Title"] = "DeliveryRate";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div style="text-align:center">
    <h1>今日應配/配達筆數</h1>
    <h1 id="delivery-rate"></h1>
</div>


<div class="demo-section k-content">
    <h4>區域</h4>
    <input id="areas" value="" style="width: 100%" />
    <h4>站所</h4>
    <input id="stations" value="" style="width: 100%" />

    <div id="daterangepicker" title="daterangepicker"></div>

    <h4>顯示方式</h4>
    <ul class="fieldlist">
        <li>
            <input type="radio" name="view" value="false" class="k-radio">
            <label class="k-radio-label">筆數</label>
        </li>
        <li>
            <input type="radio" name="view" value="true" class="k-radio">
            <label class="k-radio-label">%數</label>
        </li>
    </ul>

    <h4>出貨客代</h4>
    <input id="customers" value="" style="width: 100%" />

    <button id="search">查詢</button>
</div>

<div id="grid"></div>
<div id="grid2"></div>
<div id="grid3"></div>
<style>
    .k-loading-color {
        opacity: 1;
    }
</style>
<script>

    var areaName = "";

    $(document).ready(function () {

        var areas = $("#areas").kendoDropDownList({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: "/KendoSelect/GetArea?addTotal=" + true
                    }
                }
            },
            value: "全選",
            change: function (e) {
                var value = this.value();
                areaName = value;
                GenStationData();
            }
        }).data("kendoDropDownList");

        GenStationData();

        var customers = $("#customers").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetCustomer",
                    }
                }
            }
        });

        $("#daterangepicker").kendoDateRangePicker();

        $.ajax({
            url: "GetTodaysDeliveryRateOnUsersAuthority",
            dataType: "jsonp",
            success: function (result) {
                var showStr = result.OrdersNumber + " / " + result.MatingNumber;
                $("#delivery-rate").text(showStr);
            }
        });
    });

    function GenStationData() {
        $("#stations").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationCode",
            value: "",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStation?areaName=" + areaName
                    }
                }
            },
            requestEnd: function () {
                var element = $('#grid').data('kendoGrid').element;
                kendo.ui.progress(element, false);
            }
        });
    }

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetDeliveryRate",
                dataType: "jsonp",
                cache: false,
                data: function () {
                    return {
                        start: $('.k-textbox').eq(0).val(),
                        end: $('.k-textbox').eq(1).val(),
                        area: $("#areas").data("kendoDropDownList").value(),
                        station: $("#stations").data("kendoDropDownList").value(),
                        customer: $("#customers").data("kendoDropDownList").value(),
                        ShowPercentage: $('.k-radio:checked').val()
                    };
                }
            },
            parameterMap: function (data, type) {
                return "filter=" + kendo.stringify(data);
            }
        },
        batch: true,
        pageSize: 100,
        schema: {
            model: {
                id: "Id",
                fields: {
                    Id: { editable: false, nullable: true },
                    StationScode: { type: "string" },
                    StationName: { type: "string" },
                    OrdersNumber: { type: "number" },
                    MatingNumBeforeNoon: { type: "number" },
                    MatingNumBeforeFifteen: { type: "number" },
                    MatingNumBeforeEighteen: { type: "number" },
                    MatingNumBeforeTwenty: { type: "number" },
                    MatingNumber: { type: "number" },
                    NotWriteOffNumber: { type: "number" },
                    DeliveryNumber: { type: "number" },
                    NotDeliverNum: { type: "number" }
                }
            }
        }
    });



    $("#search").kendoButton({
        click: function (e) {

            if ($('.k-radio:checked').val() == "false") {
                $("#grid").html('').kendoGrid({
                    dataSource: dataSource,
                    toolbar: ["excel"],
                    excel: {
                        allPages: true
                    },
                    sortable: {
                        mode: "multiple",
                        allowUnsort: true
                    },
                    height: 500,
                    columns: [
                        { hidden: true, field: "StationScode" },
                        { field: "StationName", title: "站所" },
                        { field: "OrdersNumber", title: "當日<br/>應配筆數(分母)" },
                        { field: "MatingNumBeforeNoon", title: "12點前<br/>配達筆數/率" },
                        { field: "MatingNumBeforeFifteen", title: "15點前<br/>配達筆數/率" },
                        { field: "MatingNumBeforeEighteen", title: "18點前<br/>配達筆數/率" },
                        { field: "MatingNumBeforeTwenty", title: "20點前<br/>配達筆數/率" },
                        { field: "MatingNumber", title: "當日<br/>配達筆數/率" },
                        { field: "NotWriteOffNumber", title: "未銷號筆數<br/>含異常銷號" },
                        { field: "DeliveryNumber", title: "配送掃讀率" },
                        { field: "NotDeliverNum", title: "未配筆數" }]
                });
            }
            else {
                $("#grid").html('').kendoGrid({
                    dataSource: dataSource,
                    toolbar: ["excel"],
                    excel: {
                        allPages: true
                    },
                    sortable: {
                        mode: "multiple",
                        allowUnsort: true
                    },
                    height: 500,
                    columns: [
                        { hidden: true, field: "StationScode" },
                        { field: "StationName", title: "站所", },
                        { field: "OrdersNumber", title: "當日<br/>應配筆數(分母)" },
                        { field: "MatingNumBeforeNoon", title: "12點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                        { field: "MatingNumBeforeFifteen", title: "15點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                        { field: "MatingNumBeforeEighteen", title: "18點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                        { field: "MatingNumBeforeTwenty", title: "20點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                        { field: "MatingNumber", title: "當日<br/>配達筆數/率", format: "{0:#\\\%}" },
                        { field: "NotWriteOffNumber", title: "未銷號筆數<br/>含異常銷號", format: "{0:#\\\%}" },
                        { field: "DeliveryNumber", title: "配送掃讀率", format: "{0:#\\\%}" },
                        { field: "NotDeliverNum", title: "未配筆數", format: "{0:#\\\%}" }]
                });
            }

            if ($("#grid").data("kendoGrid")) {
                $("#grid").data("kendoGrid").dataSource.read();
            }

            // 視窗下拉到表格位置
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    $("#grid").on("click", "td[data-field='StationName']", function (event) {

        var dataSource2 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetDeliveryRateByDriver",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            start: $('.k-textbox').eq(0).val(),
                            end: $('.k-textbox').eq(1).val(),
                            station: $(event.target).parent().find("td[data-field='StationScode']").text(),
                            customer: $("#customers").data("kendoDropDownList").value(),
                            ShowPercentage: $('.k-radio:checked').val()
                        };
                    }
                },
                parameterMap: function (data, type) {
                    return "filter=" + kendo.stringify(data);
                }
            },
            batch: true,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        StationName: { type: "string" },
                        DriverCode: { type: "string" },
                        DriverName: { type: "string" },
                        OrderNumber: { type: "number", },
                        MatingNumBeforeNoon: { type: "number" },
                        MatingNumBeforeFifteen: { type: "number" },
                        MatingNumBeforeEighteen: { type: "number" },
                        MatingNumBeforeTwenty: { type: "number" },
                        MatingNumber: { type: "number" },
                        NotWriteOffNumber: { type: "number" },
                        DeliveryNumber: { type: "number" }
                    }
                }
            }
        });

        if ($('.k-radio:checked').val() == "false") {
            $("#grid2").html('').kendoGrid({
                dataSource: dataSource2,
                toolbar: ["excel"],
                excel: {
                    allPages: true
                },
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                height: 500,
                columns: [
                    { field: "StationName", title: "站所" },
                    { hidden: true, field: "DriverCode" },
                    { field: "DriverName", title: "工號" },
                    { field: "OrderNumber", title: "當日<br/>應配筆數(分母)" },
                    { field: "MatingNumBeforeNoon", title: "12點前<br/>配達筆數/率" },
                    { field: "MatingNumBeforeFifteen", title: "15點前<br/>配達筆數/率" },
                    { field: "MatingNumBeforeEighteen", title: "18點前<br/>配達筆數/率" },
                    { field: "MatingNumBeforeTwenty", title: "20點前<br/>配達筆數/率" },
                    { field: "MatingNumber", title: "當日<br/>配達筆數/率" },
                    { field: "NotWriteOffNumber", title: "未銷號筆數<br/>含異常銷號" },
                    { field: "DeliveryNumber", title: "配送掃讀率" }]
            });
        } else {
            $("#grid2").html('').kendoGrid({
                dataSource: dataSource2,
                toolbar: ["excel"],
                excel: {
                    allPages: true
                },
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                height: 500,
                columns: [
                    { field: "StationName", title: "站所" },
                    { hidden: true, field: "DriverCode" },
                    { field: "DriverName", title: "工號" },
                    { field: "OrderNumber", title: "當日<br/>應配筆數(分母)" },
                    { field: "MatingNumBeforeNoon", title: "12點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                    { field: "MatingNumBeforeFifteen", title: "15點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                    { field: "MatingNumBeforeEighteen", title: "18點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                    { field: "MatingNumBeforeTwenty", title: "20點前<br/>配達筆數/率", format: "{0:#\\\%}" },
                    { field: "MatingNumber", title: "當日<br/>配達筆數/率", format: "{0:#\\\%}" },
                    { field: "NotWriteOffNumber", title: "未銷號筆數<br/>含異常銷號", format: "{0:#\\\%}" },
                    { field: "DeliveryNumber", title: "配送掃讀率", format: "{0:#\\\%}" }]
            });
        }

        let gridTwoPosition = $("#grid2").offset().top;
        $("html, body").animate({ scrollTop: gridTwoPosition }, 200);
    });

    $("#grid2").on("click", "td[data-field='DriverName']", function (event) {

        var dataSource3 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetDeliveryDetial",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            start: $('.k-textbox').eq(0).val(),
                            end: $('.k-textbox').eq(1).val(),
                            station: $("#stations").data("kendoDropDownList").value(),
                            customer: $("#customers").data("kendoDropDownList").value(),
                            DriverCode: $(event.target).parent().find("td[data-field='DriverCode']").text(),
                            ShowPercentage: $('.k-radio:checked').val()
                        };
                    }
                },
                parameterMap: function (data, type) {
                    return "filter=" + kendo.stringify(data);
                }
            },
            batch: true,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        StationName: { type: "string" },
                        DriverName: { type: "string" },
                        CheckNumber: { type: "string", },
                        SendContact: { type: "string" },
                        ReceiveContact: { type: "string" },
                        ReceiveAddress: { type: "string" },
                        ReceivePhone: { type: "string" },
                        Pieces: { type: "number" },
                        DestinationTime: { type: "datetime", format: "{yyyy-MM-dd HH:mm}" },
                        DeliveryTime: { type: "datetime", format: "{yyyy-MM-dd HH:mm}" },
                        DeliveryMatingTime: { type: "datetime", format: "{yyyy-MM-dd HH:mm}" },
                        ArriveOption: { type: "string" },
                        WriteOffTime: { type: "datetime", format: "{yyyy-MM-dd HH:mm}" }
                    }
                }
            }
        });

        $("#grid3").html('').kendoGrid({
            dataSource: dataSource3,
            toolbar: ["excel"],
            excel: {
                allPages: true
            },
            sortable: {
                mode: "multiple",
                allowUnsort: true
            },
            height: 500,
            columns: [
                { field: "StationName", title: "站所" },
                { field: "DriverName", title: "姓名" },
                { field: "CheckNumber", title: "貨號" },
                { field: "SendContact", title: "寄貨人<br/>姓名" },
                { field: "ReceiveContact", title: "收貨人<br/>姓名" },
                { field: "ReceiveAddress", title: "收貨人<br/>地址" },
                { field: "ReceivePhone", title: "收貨人<br/>電話" },
                { field: "Pieces", title: "件數" },
                { field: "DestinationTime", title: "到著日期/時間" },
                { field: "DeliveryTime", title: "配送日期/時間" },
                { field: "DeliveryMatingTime", title: "配達日期/時間" },
                { field: "ArriveOption", title: "配達區分" },
                { field: "WriteOffTime", title: "銷號日期" }]
        });

        let gridThreePosition = $("#grid3").offset().top;
        $("html, body").animate({ scrollTop: gridThreePosition }, 200);
    });


</script>