﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

    <div class="demo-section k-content">
        <h4>以發送日查詢未配達資訊：</h4>
        <ul id="fieldlist">
            <li>
                <label>
                    發送日:
                    <input id="datetimepicker" name="do_date" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    D + n:
                    <input id="numeric" type="number" title="numeric" value="1" min="0" max="100" step="1" style="width: 100%;" />
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findData();">查詢</a>
            </li>
        </ul>
                
    </div>

    <div id="example">
        <div id="grid"></div>
        <script id="team-template" type="text/x-kendo-template">
            <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
        </script>
        <script>
        Date.prototype.addDays = function (days) {
            var dat = new Date(this.valueOf()); // (1)
            dat.setDate(dat.getDate() + days);  // (2)
            return dat
        }
        $(document).ready(function () {
            // create DateTimePicker from input HTML element
            var defaultDate = new Date();
            $("#datetimepicker").kendoDatePicker({
                value: defaultDate.addDays(-1)
            });
            $("#numeric").kendoNumericTextBox({
                format: "n0",
                decimals: 0,
            });
        });
            $(document).ready(function () {
                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: "GetNotRequestDeliveryList?checkDate=@Html.Raw(ViewBag.CheckDate)&days=@Html.Raw(ViewBag.Days)",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models) };
                                }
                            }
                        },
                        pageSize: 50,
                        batch: true,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    Id: { editable: false, nullable: true },
                                    CustomerCode: { validation: { required: false } },
                                    CheckNumber: { validation: { required: false } },
                                    ReceiverName: { validation: { required: false } },
                                    ReceiveTel1: { validation: { required: false } },
                                    City: { validation: { required: false } },
                                    Area: { validation: { required: false } },
                                    Address: { validation: { required: false } },
                                    ShipDate: { validation: { required: false } },
                                    DeliveryDriverCode: { validation: { required: false } },
                                    DeliveryShowName: { validation: { required: false } }
                                }
                            }
                        }
                    });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                toolbar: ["excel"],
                excel: {
                    fileName: "2020-06-01data.xlsx",
                    allPages: true
                },
                groupable: true,
                columnMenu: true,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: [20, 30, 50, "all"],
                    buttonCount: 5
                },
                columns: [{
                    field: "CustomerCode",
                    title: "託運客戶代碼"
                }, {
                    field: "CheckNumber",
                    title: "託運單號"
                }, {
                    field: "DeliveryShowName",
                    title: "配送司機"
                }, {
                     field: "ReceiverName",
                    title: "收件人姓名"
                }, {
                    field: "ReceiveTel1",
                    title: "連絡電話"
                }, {
                    field: "City",
                    title: "縣市"
                }, {
                    field: "Area",
                    title: "鄉鎮區"
                }, {
                        field: "Address",
                    title: "地址"
                }, {
                    field: "ShipDate",
                    title: "交寄日期",
                    format: "{0: yyyy-MM-dd HH:mm}"
                }, {
                    field: "CheckNumber",
                    title: "查詢",
                    template: kendo.template($("#team-template").html())
                }],
                editable: "popup"
            });
        });
        </script>
        <script>
            function findData() {
                var doCheckDate = $("#datetimepicker").val();
                var doDays = $("#numeric").val();

                var goUrl = "GetNotRequestDeliveryList?checkDate=" + doCheckDate + "&days=" + doDays;

                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.options.transport.read.url = goUrl;
                myGrid.dataSource.read();
                myGrid.refresh();
            }
        </script>
    </div>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>