﻿<script src="~/js/jquery.min.js"></script>
<script src="~/js/jszip.min.js"></script>

<img class="pic" src="~/images/FSElogoLogin.png">

<h1 class="title">全速配股份有限公司【無接觸簽收】</h1>

<div id="one">
    <div class="title">
        <h2>為了保護您的個人資訊</h2>
        <h2>請先輸入配送司機工號末三碼</h2>
    </div>

    <div class="title"><h2>末三碼</h2><input type="text" id="lastTel" /></div>
    <div class="title"><button class="btn btn-primary" id="save">確認，下一步</button></div>
</div>

<div id="two">
    <h2 class="title"><label id="receiveContactTitle"></label><label id="result">您好，請確認貨件資訊</label></h2>
    <table>
        <tr>
            <th>託運單號</th>
            <td id="check"></td>
        </tr>
        <tr>
            <th>寄件人</th>
            <td id="send"></td>
        </tr>
        <tr>
            <th>收件人</th>
            <td id="receive"></td>
        </tr>
        <tr>
            <th>收件人電話1</th>
            <td id="tel1"></td>
        </tr>
        <tr>
            <th>收件人電話2</th>
            <td id="tel2"></td>
        </tr>
        <tr>
            <th>件數</th>
            <td id="count"></td>
        </tr>
        <tr>
            <th>代收貨款</th>
            <td id="money"></td>
        </tr>
        <tr>
            <th id="timeName">現在時間</th>
            <td id="now"></td>
        </tr>
    </table>
    <div class="title"><button class="btn btn-primary" id="checkReceive">同意收件</button></div>
    <div class="title"><button class="btn btn-warning" id="agreeReceive">已同意收件</button></div>
</div>

<style>
    #agreeReceive {
        display: none;
    }

    #two {
        display: none;
    }

    h1, h2, #save {
        text-align: center;
    }

    .title {
        margin-top: 1em;
        text-align: center;
    }

    .pic {
        display: block;
        margin: auto;
        width: 201px;
        height: 83px;
        margin-top: 2em;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<script>
    var checkNumber;
    var sendContact;
    var receiveContact;
    var receiveTel1;
    var receiveTel2;
    var collectionMoney;
    var pieces;
    var time;

    if ("@ViewBag.ScanDate" != "") {
        document.getElementById('one').style.display = 'none';
        document.getElementById('two').style.display = 'block';
        //alert("貨件已在 @ViewBag.ScanDate 簽收，不可再次簽收。");
        //document.location.href = "https://fs-express.com.tw/";
        $("#result").text("已成功簽收");

        document.getElementById("checkReceive").style.display = 'none';
        document.getElementById("agreeReceive").style.display = 'inline-block';

        $("#checkReceive").html('已同意收件');
        $("#checkReceive").toggleClass("agreeButton");
        document.getElementById("checkReceive").disabled = true;
        $("#checkReceive").removeClass("btn btn-primary").addClass("btn btn-warning");

        $.ajax({
            url: "GetReceiveContactDataByChecknumber",
            data: "checknumber=@ViewBag.CheckNumber",
            dataType: "json",
            type: "POST",
            success: function (response) {

                if (response.length > 0) {

                    var output = response;

                    checkNumber = output[0].CheckNumber;
                    $("#check").text(checkNumber);

                    sendContact = output[0].SendContact;
                    $("#send").text(sendContact);

                    receiveContact = output[0].ReceiveContact;
                    $("#receive").text(receiveContact);
                    $("#receiveContactTitle").text(receiveContact);

                    receiveTel1 = output[0].ReceiveTel1;
                    $("#tel1").text(receiveTel1);

                    receiveTel2 = output[0].ReceiveTel2;
                    $("#tel2").text(receiveTel2);

                    collectionMoney = output[0].CollectionMoney;
                    $("#money").text(collectionMoney);

                    pieces = output[0].Pieces;
                    $("#count").text(pieces);

                    $("#timeName").text("配達時間");
                    $("#now").text("@ViewBag.ScanDate");
                }
            },
            error: function () {
                alert("請洽管理員。");
            },
        });
    }

    $("#save").click(function (e) {
        var tel = $("#lastTel").val();

        $.ajax({
            url: "CheckLatestDeliveryDriverNullOrNot",
            data: "checknumber=@ViewBag.CheckNumber",
            dataType: "json",
            type: "POST",
            success: function (response) {
                if (response.toString() === "") {
                    alert("查無驗證碼，請配送司機重刷配送。");
                }
                else {
                    $.ajax({
                        url: "CheckReceiveContactTel",
                        data: "checknumber=@ViewBag.CheckNumber" + "&tel=" + tel,
                        dataType: "json",
                        type: "POST",
                        success: function (response) {

                            if (response.length > 0) {
                                var output = response;

                                document.getElementById('one').style.display = 'none';
                                document.getElementById('two').style.display = 'block';

                                checkNumber = output[0].CheckNumber;
                                $("#check").text(checkNumber);

                                sendContact = output[0].SendContact;
                                $("#send").text(sendContact);

                                receiveContact = output[0].ReceiveContact;
                                $("#receive").text(receiveContact);
                                $("#receiveContactTitle").text(receiveContact);

                                receiveTel1 = output[0].ReceiveTel1;
                                $("#tel1").text(receiveTel1);

                                receiveTel2 = output[0].ReceiveTel2;
                                $("#tel2").text(receiveTel2);

                                collectionMoney = output[0].CollectionMoney;
                                $("#money").text(collectionMoney);

                                pieces = output[0].Pieces;
                                $("#count").text(pieces);

                                time = output[0].Time;
                                $("#now").text(time);
                            }
                            else {
                                alert("請確認配送司機工號末三碼有無輸入錯誤。");
                            }
                        },
                    });
                }
            },
        });
    });

    $("#checkReceive").click(function (e) {
        $.ajax({
            url: "InsertIntoScanLog",
            data: "checknumber=@ViewBag.CheckNumber" + "&pieces=" + pieces,
            dataType: "json",
            type: "POST",
            success: function (output) {

                var response = output.toString();

                if (response === "True") {
                    alert("謝謝您，期待再次為您服務。");
                    $("#result").text("已成功簽收");
                    document.getElementById("checkReceive").style.display = 'none';
                    document.getElementById("agreeReceive").style.display = 'inline-block';
                }
                else if (response === "False") {
                    alert("請洽管理員。");
                }
                else {
                    alert("貨件已在" + response + "簽收，不可再次簽收。");
                    document.location.href = "https://fs-express.com.tw/";
                    //$("#result").text("已成功簽收");
                    //document.getElementById("checkReceive").style.display = 'none';
                    //document.getElementById("agreeReceive").style.display = 'inline-block';
                }
            },

        });
    });
</script>

