﻿
@{
    ViewData["Title"] = "RollBoxCount";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div class="demo-section k-content">
    <h1>每日零擔籠車統計</h1>
    <br />
    <br />

    <label>集貨日期</label>
    <input id="datepicker" />
    <br />

    <button class="k-button" id="btn-search">查詢</button>   
    <br />
    <br />
</div>

<div id="grid"></div>

<script>

    var dataSource;

    $("#datepicker").kendoDatePicker({
        value: new Date()
    });

    function getTotal() {
        var printDate = $("#datepicker").data("kendoDatePicker").value();
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetRollBoxCount?shipDate=" + kendo.toString(printDate, "yyyy/MM/dd"),
                    dataType: "jsonp"
                },
                update: {
                    url: "UpdateRollBoxCount",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 50,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        PrintDate: { type: "date" },
                        BSectionStop: { type:"string", editable: false },
                        EstimateMixBoxCount: { type: "number", editable: false },
                        ActualMixBoxCount: { type: "number" },
                        EstimateFlowBoxCount: { type: "number", editable: false },
                        ActualFlowBoxCount: { type: "number" }
                    }
                }
            }
        });
    }

    $("#btn-search").kendoButton({
        click: function (e) {

            getTotal();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource.read();
                $("#grid").data("kendoGrid").refresh();
            }

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                toolbar: [{ name: "save", text: "整批儲存" },
                    { name: "cancel", text: "取消修改" }
                ],
                filterable: true,
                pageable: true,
                height: 550,
                columns: [
                    { field: "PrintDate", hidden: true },
                    { field: "BSectionStop", title: "B段停靠點" },
                    { field: "EstimateMixBoxCount", title: "預估轉運混籠數" },
                    { field: "ActualMixBoxCount", title: "實際轉運混籠數" },
                    { field: "EstimateFlowBoxCount", title: "預估分流專籠數" },
                    { field: "ActualFlowBoxCount", title: "實際分流專籠數" }
                ],
                editable: true
            });
        }
    });

</script>

