﻿@model LightYear.JunFuTrans.BL.BE.Menu.FrontendMenuEntity
<div id="menuex">
    <div id="megaStore">
        <ul id="menu">
            @foreach (var category in Model.Categories)
            {
            <li>@category.CategoryName
                <ul>
                    @foreach (var subCategory in category.SystemSubCategoryEntities)
                    {
                        @if (subCategory.SystemFunctionEntities.Count > 1)
                        {
                            <li>
                                @subCategory.SubCategoryName
                            <ul>
                                @foreach (var function in subCategory.SystemFunctionEntities)
                                {
                                    @if (function.Url.Length > 0)
                                    {
                                        <li><a href="@function.Url">@function.FunctionName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="javascript:alert('功能當未完成！');">@function.FunctionName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        @if (subCategory.SystemFunctionEntities[0].Url.Length > 0)
                        {
                            <li><a href="@subCategory.SystemFunctionEntities[0].Url">@subCategory.SystemFunctionEntities[0].FunctionName</a></li>
                        }
                        else
                        {
                            <li><a href="javascript:alert('功能當未完成！');">@subCategory.SystemFunctionEntities[0].FunctionName</a></li>
                        }
                    }
                    }
                </ul>    
            </li>
            }
            <li><a href="/Account/Logout">@Model.UserInfoEntity.ShowName  登出</a></li>
        </ul>
    </div>
    <style>

        #megaStore {
            max-width: 1200px;
            margin: 30px auto;
            padding-top: 200px;
            background: url('../images/JF_old_logo.png') no-repeat center 0;
            background-size: 50%;
        }

        #menu h2 {
            font-size: 1em;
            text-transform: uppercase;
            padding: 5px 10px;
        }

        #template img {
            margin: 5px 20px 0 0;
            float: left;
        }

        #template {
            width: 380px;
        }

            #template ol {
                float: left;
                margin: 0 0 0 30px;
                padding: 10px 10px 0 10px;
            }

            #template:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            #template .k-button {
                float: left;
                clear: left;
                margin: 5px 0 5px 12px;
            }
    </style>
    <script>$(document).ready(function() {
                $("#menu").kendoMenu();
            });</script>
</div>