﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<div>
    <div class="demo-section k-content">
        <h2>匯款支票銷帳表</h2><br />
        <ul>
            <li>
                <label>到著站所:</label>
                <input id="station" style="width:100%;" />
            </li>
            <li>
                <label>配達日期區間:</label>
                <div id="daterangepicker" title="daterangepicker"></div>
            </li>
            @*<li>
                <label>銷帳狀態：</label><br />
                <select id="writeoffstatus">
                    <option value="all">全部</option>
                    <option value="1">已銷帳</option>
                    <option value="0">未銷帳</option>
                </select>
            </li>*@
            <li>
                <button id="search">查詢</button>&nbsp;&nbsp;<button id="export">匯出Excel</button>
            </li>
            <li>
                <button id="check">確定銷帳</button>&nbsp;&nbsp;<button id="cancel">取消銷帳</button>
            </li>
        </ul><br />
    </div>

    <div id="grid"></div>
         
    <script>
            var scode = "";
            var sta = $("#station").kendoDropDownList({
                         filter: "startswith",
                         dataTextField: "ShowName",
                         dataValueField: "StationSCode",
                         value: "",
                         dataSource: {
                                type:"odata",
                                serverFiltering: true,
                                transport: {
                                         read: {
                                                  url: "/KendoSelect/GetStation",
                                         }
                                }
                         },
                         change: function (e) {
                                var value = this.value();
                                scode = value;
                         }
            });

            $("#daterangepicker").kendoDateRangePicker({
                culture: "zh-TW",
                change: function (e) {
                    var range = this.range();
                    start = kendo.toString(range.start, "s");
                    end = kendo.toString(range.end, "s");
                }
            });

        function getGrid() {

                //var writeoff = $("#writeoffstatus").val();

                var myurl = "/RemittanceAndCheckWriteOff/GetAllByDateAndStation?start=" + start + "&end=" + end + "&scode=" + scode ;

                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: myurl,
                            dataType: "jsonp"
                        },
                        update: {
                            url: "/RemittanceAndCheckWriteOff/Save",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                             if (operation !== "read" && options.models) {
                                 return { models: kendo.stringify(options.models) };
                             }
                        },
                    },
                    batch: true,
                    pageSize: 30,
                    schema: {
                        model: {
                            id: "RequestId",
                            fields:{
                                RequestId: { validation: { required: true } , editable: false},
                                Station: { validation: { required: true }, editable: false },
                                ReceiverType: { validation: { required: true }, editable: false },
                                PaymentMethod : { validation: { required: true }, editable: false },
                                CheckNumber: { validation: { required: true }, editable: false },
                                Payment: {validation: { required: true }, editable: false},
                                LastFiveNumber: { validation: { required: true }, nullable: true, editable: false },
                                CustomerCodeAndName: { validation: { required: true }, editable: false },
                                LatestArriveOptionDate: { type: "date", validation: { required: true } , editable: false},
                                IsWriteOffChinese: { validation: { required: true } },
                                WriteOffDate: { type:"date", nullable:true }
                            }
                        }
                    },
                    group: {
                               field: "IsWriteOffChinese", aggregates: [
                                        { field: "Payment", aggregate: "sum"}
                               ]
                    },
                    aggregates:
                        { field: "Payment", aggregate: "sum" }
                });
        }

        $("#check").kendoButton({
            click: function (e) {

                var grid = $("#grid").data("kendoGrid");
                var output = grid.selectedKeyNames();
                
                var url = "ChangeWriteOffByRequestId?requestId=" + output + "&writeoff=" + 1 ;

            $.ajax({
                url: url,
                dataType: "jsonp",
                type: "POST",
                complete: function(e){
                    alert('銷帳完成');
                }
            });
                grid.dataSource.read();
                grid.refresh();
            }
        });

         $("#cancel").kendoButton({
            click: function (e) {

                var grid = $("#grid").data("kendoGrid");
                var output = grid.selectedKeyNames();
                var url = "ChangeWriteOffByRequestId?requestId=" + output + "&writeoff=" + 0 ;

            $.ajax({
                url: url,
                dataType: "jsonp",
                type: "POST",
                complete: function(e){
                    alert('取消完成');
                }
            });
                 grid.dataSource.read();
                 grid.refresh();
            }
        });

         $("#search").kendoButton({
             click: function (e) {

                 getGrid();

                 var account = ["C0001", "9990029", "F3200040002", "0000189", "9990101", "18027", "9990217", "14009", "9990073"];

                 if (account.includes("@ViewBag.UserAccount")) {

                     var data = {
                         dataSource: dataSource,
                         excel: {
                             fileName: "匯款支票銷帳表.xlsx",
                             allPages: true,
                             filterable: true
                         },
                         pageable: true,
                         filterable: true,
                         sortable: true,
                         height: 550,
                         columns: [
                             { selectable: true, width: "50px" },
                             { hidden: true, field: "RequestId", title: "序號", width: "100px" },
                             { field: "Station", title: "到著站所" },
                             { field: "ReceiverType", title: "類型" },
                             { field: "PaymentMethod", title: "付款方式" },
                             { field: "CheckNumber", title: "貨號" },
                             { field: "Payment", title: "金額", aggregates: ["sum"], groupFooterTemplate: "總計金額: #=sum#" },
                             { field: "LastFiveNumber", title: "票據/帳號後五碼" },
                             { field: "CustomerCodeAndName", title: "客代" },
                             { field: "LatestArriveOptionDate", title: "配達日期", format: "{0: yyyy/MM/dd}" },
                             { field: "IsWriteOffChinese", title: "是否銷帳" },
                             { field: "WriteOffDate", title: "銷帳日期", format: "{0: yyyy/MM/dd HH:mm}" },],
                     }
                 }
                 else {
                     var data = {
                         dataSource: dataSource,
                         excel: {
                             fileName: "匯款支票銷帳表.xlsx",
                             allPages: true,
                             filterable: true
                         },
                         pageable: true,
                         filterable: true,
                         sortable: true,
                         height: 550,
                         columns: [
                             { selectable: false, width: "50px" },
                             { hidden: true, field: "RequestId", title: "序號", width: "100px" },
                             { field: "Station", title: "到著站所" },
                             { field: "ReceiverType", title: "類型" },
                             { field: "PaymentMethod", title: "付款方式" },
                             { field: "CheckNumber", title: "貨號" },
                             { field: "Payment", title: "金額", aggregates: ["sum"], groupFooterTemplate: "總計金額: #=sum#" },
                             { field: "LastFiveNumber", title: "票據/帳號後五碼" },
                             { field: "CustomerCodeAndName", title: "客代" },
                             { field: "LatestArriveOptionDate", title: "配達日期", format: "{0: yyyy/MM/dd}" },
                             { field: "IsWriteOffChinese", title: "是否銷帳" },
                             { field: "WriteOffDate", title: "銷帳日期", format: "{0: yyyy/MM/dd HH:mm}" },],
                     }
                 }
                     $("#grid").kendoGrid(data);
                     $("#grid").data("kendoGrid").dataSource.read();
             }
         });

            $("#export").kendoButton({
                click: function (e) {
                    try {
                        var grid = $("#grid").data("kendoGrid");
                        grid.saveAsExcel();
                    } catch (e) {
                        fnDialog('無法匯出Excel',
                            '無法匯出Excel，請洽管理員。',
                            null,
                            null);
                    }
                }
            });
        
    </script>
</div>
