﻿

@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">

    <h4>收付日期</h4>
    <input id="datepicker" value="" title="datepicker" style="width: 100%" />

    <h4>所別代號</h4>
    <div id="stationScode" value="@ViewBag.StationScode" style="width: 100%">@ViewBag.StationShow</div>

    <button id="search">查詢</button>
</div>

<div id="grid"></div>

<script>

    $(document).ready(function () {
        $("#datepicker").kendoDatePicker();
        var datepicker = $("#datepicker").data("kendoDatePicker");
        datepicker.value(new Date().addHours(-12));

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetListByTimeAndStation",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            date: $("#datepicker").data("kendoDatePicker").value().toUTCString(),
                            stationScode: $("#stationScode").attr("value")
                        }
                    }
                },
                update: {
                    url: "UpdatePaymentBalance",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation == "read") {
                        return options;
                    } else if (options.models) {
                        return {
                            models: kendo.stringify(options.models)
                        };
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "read") {
                    insertPaymentBalance(e.response);
                }
            },
            batch: true,
            pageSize: 100,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Date: { type: "date" },
                        HasCreatedSheet: { type: "boolean" },                        
                        Id: { editable: false, nullable: true },
                        DriverCode: { editable: false, type: "string" },
                        DriverName: { editable: false, type: "string" },
                        TransactionLastFive: { editable: false, type: "string" },
                        CashOnDelivery: { editable: false, type: "number" },
                        DestinationOnDelivery: { editable: false, type: "number" },
                        PreOrderBag: { editable: false, type: "number" },
                        CheckOnDelivery: { editable: false, type: "number" },
                        CashOnDelivery: { editable: false, type: "number" },
                        PaidTotal: { editable: false, type: "number" },
                        NowPayAmount: { type: "number" },
                        TotalShouldPay: { editable: false, type: "number" },
                        CurrentPaymentBalace: { editable: false, type: "number" },
                        PreviousPaymentBalance: { editable: false, type: "number" }
                    }
                }
            }
        });

        $("#search").kendoButton({

            click: function (e) {
                if ($("#grid").data("kendoGrid")) {
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {

                    // 當日才可以編輯
                    if ($("#datepicker").data("kendoDatePicker").value().getDate() == new Date().getDate()
                        && $("#datepicker").data("kendoDatePicker").value().getMonth() == new Date().getMonth()
                        && $("#datepicker").data("kendoDatePicker").value().getYear() == new Date().getYear()) {

                        $("#grid").kendoGrid({
                            dataSource: dataSource,
                            sortable: {
                                mode: "multiple",
                                allowUnsort: true
                            },
                            height: 500,
                            editable: "inline",
                            columns: [
                                { hidden: true, field: "Date" },
                                { hidden: true, field: "HasCreatedSheet" },
                                { field: "DriverCode", title: "工號" },
                                { field: "DriverName", title: "姓名" },
                                { field: "TransactionLastFive", title: "匯款明細後五碼" },
                                { field: "CashOnDelivery", title: "代收貨款" },
                                { field: "DestinationOnDelivery", title: "應收帳款" },
                                { field: "PreOrderBag", title: "預購袋應收" },
                                { field: "CheckOnDelivery", title: "支票" },
                                { field: "CashOnDelivery", title: "應繳總計" },
                                { field: "PaidTotal", title: "實繳" },
                                { field: "NowPayAmount", title: "現繳" },
                                { field: "CurrentPaymentBalace", title: "差額" },
                                { field: "PreviousPaymentBalance", title: "前期差額" },
                                { template: "<button class='k-button' onclick='showDetails(this)' #= HasCreatedSheet ? '' : \"disabled='disabled'\"#>查看</button>", title: "精算書內容" }, 
                                { command: [{ name: "edit", text: { edit: "編輯", update: "修改", cancel: "取消" } }] }
                            ]
                        });
                    }
                    else {
                        $("#grid").kendoGrid({
                            dataSource: dataSource,
                            sortable: {
                                mode: "multiple",
                                allowUnsort: true
                            },
                            height: 500,
                            editable: "inline",
                            columns: [
                                { hidden: true, field: "Date" },
                                { hidden: true, field: "HasCreatedSheet" },
                                { field: "DriverCode", title: "工號" },
                                { field: "DriverName", title: "姓名" },
                                { field: "TransactionLastFive", title: "匯款明細後五碼" },
                                { field: "CashOnDelivery", title: "代收貨款" },
                                { field: "DestinationOnDelivery", title: "應收帳款" },
                                { field: "PreOrderBag", title: "預購袋應收" },
                                { field: "CheckOnDelivery", title: "支票" },
                                { field: "CashOnDelivery", title: "應繳總計" },
                                { field: "PaidTotal", title: "實繳" },
                                //{ field: "TotalShouldPay", title: "應繳總計" },
                                { field: "CurrentPaymentBalace", title: "差額" },
                                { template: "<button class='k-button' onclick='showDetails(this)' #= HasCreatedSheet ? '' : \"disabled='disabled'\"#>查看</button>", title: "精算書內容" }
                            ]
                        });
                    }                    
                }

                let position = $("#grid").offset().top;
                $("html, body").animate({ scrollTop: position }, 200);
            }
        });
    });

    function insertPaymentBalance(view) {

        $.ajax({
            url: "InsertPaymentBalance",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(view),
            success: function (response) {
                console.log(response);                
            }
        });
    }

    function showDetails(e) {
        var grid = $("#grid").getKendoGrid();
        var dataItem = grid.dataItem($(e).parents("tr"));

        window.open("/DriverPayment/ViewPaymentSheetByDriverAndDate?driverCode=" + dataItem.DriverCode + "&date=" + dataItem.Date.toUTCString());
    }

    Date.prototype.addHours = function (h) {
        this.setTime(this.getTime() + (h * 60 * 60 * 1000));
        return this;
    }

</script>