﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div id="todayPickUp">
    <span style="font-size:1.2cm;">站所: <span style="border-width:3px;border-style:solid;"> @ViewBag.StationShowName</span></span><br />
    <span style="font-size:1.2cm;">工號: <span style="border-width:3px;border-style:solid;">@ViewBag.UserAccount @ViewBag.UserName</span></span>
    <div>
        <span style="font-size:1.2cm;">集貨成功件數: @ViewBag.SuccessCount</span><br />
        <span style="font-size:1.2cm;">集貨失敗件數:  @ViewBag.FailCount</span><br />
    </div>
    <div id="todayPickUpGrid"></div>
    <script>
        $(document).ready(function () {
                todayPickUpDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/TodayPickUp/TodayPickUpGetData",
                            dataType: "jsonp",
                            data: function () {
                                return {
                                    driverCode: "@ViewBag.UserAccount",
                                    stationScode: "@ViewBag.StationScode"
                                };
                            },
                        },
                        parameterMap: function (data) {
                            return "json=" + kendo.stringify(data);
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, nullable: false, defaultValue: 0 },
                                AccountType: { editable: false, nullable: false, defaultValue: 0 },
                                UserName: { validation: { required: true } },
                                TypeName: { validation: { required: true } }
                            }
                        }
                    }
                });

            $("#todayPickUpGrid").kendoGrid({
                dataSource: todayPickUpDataSource,
                pageable: true,
                height: 550,
                columns: [
                    { field: "Index", title: "序號" },
                    { field: "CheckNumber", title: "貨號" },
                    { field: "Pieces", title: "件數" },
                    { field: "PickUpStatus", title: "集貨狀態" },
                    { field: "FrontendShipDate", title: "掃讀時間" }
                ],
            });
        });
    </script>
</div>