﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

<a class="offline-button" href="../index.html">Back</a>

<div id="example">

    <div class="demo-section k-content">
        <h4>托運單號</h4>
        <input id="barcode" style="width: 100%;" />
        <ul>
            <li><span>收款金額</span><label class="alert-success" id="totalMoney">0</label></li>
            <li><span>請輸入銀行匯款序號</span><input id="bank_number" /></li>
            <li><button id="saveCollectionMoney" class="k-primary">儲存結果</button></li>
        </ul>
    </div>

    <div id="grid"></div>

    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/CollectionMoney",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetAll",
                            dataType: "jsonp"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/Destroy",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 100,
                    schema: {
                        model: {
                            id: "CheckNumber",
                            fields: {
                                CheckNumber: { editable: false, validation: { required: true } },
                                Amount: { editable: false, type: "number", validation: { required: true, min: 0 } },
                                ActualAmount: { type: "number", validation: { required: true, min: 0 } }
                            }
                        }
                    },
                    change: function (e) {
                        countTotalMoney();
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: false,
                columns: [
                    { field: "CheckNumber", title: "貨運單號" },
                    { field: "Amount", title: "應收帳款金額", format: "{0:c0}", width: "120px" },
                    { field: "ActualAmount", title: "實收金額", format: "{0:c0}", width: "120px" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "inline"
            });


            $(".k-grid").on("mousedown", ".k-button:not('.k-grid-cancel,.k-grid-update')", function (e) {
                var grid = $(this).closest(".k-grid");
                var editRow = grid.find(".k-grid-edit-row");

                if (editRow.length > 0) {
                    alert("請先完成正在編輯中的資料!");
                    e.preventDefault();
                }
            });

            $("#barcode").keypress(function (e) {
                if (e.keyCode === 13) {
                    var barcodeData = $("#barcode").val();

                    var dataItem = $("#grid").data("kendoGrid").dataSource.get(barcodeData);

                    if (dataItem) {
                        alert("條碼號已存在");
                        $("#barcode").val("");
                        return;
                    }

                    //開始call ajax
                    $.ajax({
                        url: crudServiceBaseUrl + "/GetCollectionAmount?barcode=" + barcodeData, success: function (result) {

                            if (result.amount > 0) {
                                var newRow = { CheckNumber: result.checkNumber, Amount: result.amount, ActualAmount: result.actualAmount };
                                var grid = $("#grid").data("kendoGrid");
                                grid.dataSource.insert(0, newRow);

                            }
                            else {
                                alert("查無代收資料，請確認托運單號是正確的");
                            }
                        }
                    });

                    $("#barcode").val("");

                    e.preventDefault();
                }
            });

        });

        function countTotalMoney() {


            var displayedData = $("#grid").data().kendoGrid.dataSource.view();

            var totalMoney = 0;

            displayedData.forEach(item => totalMoney += item.ActualAmount);

            console.log(totalMoney);

            $("#totalMoney").text(totalMoney);

        }

        function onClick(e) {
            var displayedData = $("#grid").data().kendoGrid.dataSource.view();

            var bankNumber = $("#bank_number").val();

            var putData = { BankNumber: bankNumber, Details: displayedData };

            var displayedDataAsJSON = JSON.stringify(putData);

            var crudServiceBaseUrl = "/CollectionMoney"

            $.ajax({
                type: "POST",
                async: false,
                dataType: "json",
                url: crudServiceBaseUrl + "/SaveCollectionMoney",
                contentType: 'application/json; charset=UTF-8',
                data: displayedDataAsJSON,
                success: function (msg) {
                    console.log(displayedDataAsJSON);
                    console.log(msg);
                    //do something
                }
            });

        }

        $("#saveCollectionMoney").kendoButton({
            click: onClick
        });

        function customBoolEditor(container, options) {
            $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        }
    </script>
</div>