﻿@{
    ViewData["Title"] = "Student Home";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

    <div class="demo-section k-content">
        <h4>區域</h4>
        <input id="areas" value="" style="width: 100%" />

        <h4>站所</h4>
        <input id="stations" value="" style="width: 100%" />

        <h4>出貨客代</h4>
        <input id="customerCode" value="" style="width: 100%" />

    </div>

<script>

    var areaName = "";
    var customerCode = "";
    var stationCode = "";

    $(document).ready(function () {

        var areas = $("#areas").kendoDropDownList({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: "/KendoSelect/GetArea?addTotal=" + true
                    }
                }
            },
            value: "全選",
            change: function (e) {
                var value = this.value();
                areaName = value;
                GenStationData();
            }
        }).data("kendoDropDownList");

        GenStationData();
        GenCustomerData();

    });

    function GenStationData() {
        $("#stations").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationCode",
            value: "",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStation?areaName=" + areaName
                    }
                }
            },
            change: function (e) {
                var value = this.value();
                $("#customerCode").data("kendoDropDownList").value(-1);
                stationCode = value;
                GenCustomerData();
            }
        });
    }

    function GenCustomerData() {
        var getCustomerUrl = "/KendoSelect/GetCustomer?stationCode=" + stationCode;

        $("#customerCode").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: getCustomerUrl
                    }
                }
            },
            change: function (e) {
                var value = this.value();
            }
        });
    }
</script>